<?xml version="1.0" encoding="utf-8"?>
<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/29/2020 9:07:00 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.PrototypeDotNetFrameworkWebApp.Content_webDOTconfig
-->
<configuration>
  <appSettings file="connection.config" />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soapBinding" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="soapBehaviorEndpoint" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="soapBehaviorService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
    <services>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeCartProductService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeCartProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeCartProductPriceService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeCartProductPriceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientAddressService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientAddressService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientAddressTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientAddressTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientContactMethodService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientContactMethodService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientContactMethodRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientContactMethodRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientDocumentService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientDocumentService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientDocumentTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientDocumentTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientEventService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientEventService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientEventTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientEventTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientGenderRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientGenderRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientIdentifierService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientIdentifierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientIdentifierTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientIdentifierTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientLinkService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientLinkService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientLinkTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientLinkTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientNationalityRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientNationalityRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientTitleRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientTitleRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeClientTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeClientTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultChangeLogService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultChangeLogService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultChangeLogTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultChangeLogTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultErrorService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultErrorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultErrorLayerRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultErrorLayerRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultErrorTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultErrorTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultIssueService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultIssueService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultIssueStatusRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultIssueStatusRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultIssueTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultIssueTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultPerformanceIssueService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultPerformanceIssueService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultPerformanceTimeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultPerformanceTimeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultPerformanceTimeRollupService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultPerformanceTimeRollupService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultResourceMeasurementService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultResourceMeasurementService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultRuleService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultRuleService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultRuleTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultRuleTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultStateRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultStateRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultSystemReferenceTableService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultSystemReferenceTableService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultSystemSettingService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultSystemSettingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultSystemSettingRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultSystemSettingRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultTestService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultTestService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultTestRunService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultTestRunService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultTestRunResultRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultTestRunResultRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultUserService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultUserActivityService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultUserActivityService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultUserActivityTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultUserActivityTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeDefaultVersionService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeDefaultVersionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialCurrencyService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeFinancialCurrencyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeFinancialOrderService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeFinancialOrderService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductAttributeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductAttributeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductAttributeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductAttributeUnitRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductAttributeUnitRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductCategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryDocumentationService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductCategoryDocumentationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryDocumentationTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductCategoryDocumentationTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryImageService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductCategoryImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryImageTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductCategoryImageTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductCategoryMappingService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductCategoryMappingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductChangeSetService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductChangeSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductDocumentationService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductDocumentationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductDocumentationTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductDocumentationTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductEntityTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductEntityTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductExposeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposePlanService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductExposePlanService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposeSetService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductExposeSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposeSetTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductExposeSetTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposedSelectionService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductExposedSelectionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductFieldSetService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductFieldSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductFieldSetMappingService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductFieldSetMappingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductGatherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherAttributeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductGatherAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherAttributeTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductGatherAttributeTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherKeyService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductGatherKeyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherSourceService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductGatherSourceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductGatherSourceTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductGatherSourceTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductIdentifierService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductIdentifierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductIdentifierRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductIdentifierRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductImageService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductImageTypeRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductImageTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductInfoService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductInfoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductInfoRefService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductInfoRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductSupplierService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICrudeProductSupplierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductMaintenanceSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductMaintenanceSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CartProductSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICartProductSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CartSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICartSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ClientSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IClientSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.DefaultSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IDefaultSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CategorySearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICategorySearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceAttributeSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceAttributeSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceAttributeUnitSearchService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceAttributeUnitSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.CartProductService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.ICartProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceAttributeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceAttributeUnitService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceAttributeUnitService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceCategoryService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceCategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceCategoryDocumentationTypeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceCategoryDocumentationTypeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceDocumentationTypeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceDocumentationTypeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceIdentifierService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceIdentifierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceImageTypeService" behaviorConfiguration="soapBehaviorService">
        <endpoint address="" binding="basicHttpBinding" contract="SolutionNorSolutionPim.BusinessLogicLayer.IProductReferenceImageTypeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>