<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/23/2020 11:50:18 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Client\ClientLink.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeClientLink">CrudeClientLink</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Client Link Id            </td><td>System.Guid</td></tr>
            <tr><td>Client Id            </td><td>System.Guid</td></tr>
            <tr><td>Client Link Type            </td><td>System.String</td></tr>
            <tr><td>Link Name            </td><td>System.String</td></tr>
            <tr><td>Link            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchByClientLinkId' asp-route-clientlinkid=00000000-0000-0000-0000-000000000001>FetchByClientLinkId</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchByClientId' asp-route-clientid=00000000-0000-0000-0000-000000000001>FetchByClientId</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchByClientLinkTypeRcd' asp-route-clientlinktypercd=00000000-0000-0000-0000-000000000001>FetchByClientLinkTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkFetchByLinkName' asp-route-linkname=String.Empty>FetchByLinkName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkCreate'>CrudeClientLinkCreate</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkUpdate'>CrudeClientLinkUpdate</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkDelete'>CrudeClientLinkDelete</a><br>
<a asp-area='' asp-controller='CrudeClientLink' asp-action='CrudeClientLinkDeleteTest'>Delete Test (GET)</a><br>
