<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 5:38:51 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Client\ClientEventTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeClientEventTypeRef">CrudeClientEventTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Client Event Type            </td><td>System.String</td></tr>
            <tr><td>Client Event Type Name            </td><td>System.String</td></tr>
            <tr><td>Client Event Type Description            </td><td>System.String</td></tr>
            <tr><td>Active Flag            </td><td>System.Boolean</td></tr>
            <tr><td>Sort Order            </td><td>System.Int32</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefFetchByClientEventTypeRcd' asp-route-clienteventtypercd=00000000-0000-0000-0000-000000000001>FetchByClientEventTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefFetchByClientEventTypeRcd' asp-route-clienteventtypercd=String.Empty>FetchByClientEventTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefCreate'>CrudeClientEventTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefUpdate'>CrudeClientEventTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefDelete'>CrudeClientEventTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeClientEventTypeRef' asp-action='CrudeClientEventTypeRefDeleteTest'>Delete Test (GET)</a><br>
