<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 7:26:43 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Client\ClientContactMethod.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeClientContactMethod">CrudeClientContactMethod</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Client Contact Method Id            </td><td>System.Guid</td></tr>
            <tr><td>Client Id            </td><td>System.Guid</td></tr>
            <tr><td>Client Contact Method            </td><td>System.String</td></tr>
            <tr><td>Contact Method Way            </td><td>System.String</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchByClientContactMethodId' asp-route-clientcontactmethodid=00000000-0000-0000-0000-000000000001>FetchByClientContactMethodId</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchByClientId' asp-route-clientid=00000000-0000-0000-0000-000000000001>FetchByClientId</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchByClientContactMethodRcd' asp-route-clientcontactmethodrcd=00000000-0000-0000-0000-000000000001>FetchByClientContactMethodRcd</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodFetchByClientContactMethodId' asp-route-clientcontactmethodid=Guid.Empty>FetchByClientContactMethodId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodCreate'>CrudeClientContactMethodCreate</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodUpdate'>CrudeClientContactMethodUpdate</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodDelete'>CrudeClientContactMethodDelete</a><br>
<a asp-area='' asp-controller='CrudeClientContactMethod' asp-action='CrudeClientContactMethodDeleteTest'>Delete Test (GET)</a><br>
