<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 0.d
  http://sql2core.azurewebsites.net/
  Generated Date: 14.01.2018 07:29:00
  Template: SQL2XExtension.SQL2XExtensionBuilderMain.TemplatesIndexMake
-->
@{
    ViewData["Title"] = "NorPimLightNew Core";
    Layout = "";
}

<style>
    a {
        color: lightgray;
    }

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>

<h2>Templates</h2>

<hr />
<div style="display:none;"></div>
<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />

<table class="table">
    <tr>
        <th width="4000">JSON File</th>
        <th width="2000">Framework</th>
        <th width="2000">Url</th>
    </tr>
    <tr>
        <td>Database Management Create Database</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/CreateDatabase">api/1/database/CreateDatabase</a></td>
    </tr>
    <tr>
        <td>Database Management Remove Database</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/RemoveDatabase">api/1/database/RemoveDatabase</a></td>
    </tr>
    <tr>
        <td>Database Management Set Version Zero</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/SetVersionZero">api/1/database/SetVersionZero</a></td>
    </tr>
    <tr>
        <td>Database Management Increase Version</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/increaseversion">api/1/database/increaseversion</a></td>
    </tr>
    <tr>
        <td>Database Management Increase Version To Latest</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/increaseversiontolatest">api/1/database/increaseversiontolatest</a></td>
    </tr>
    <tr>
        <td>Database Management to latest</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/versiontolatest">api/1/database/versiontolatest</a></td>
    </tr>
    <tr>
        <td>Database Management Version String</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/getversion">api/1/database/getversion</a></td>
    </tr>
    <tr>
        <td>Database Management Version Object</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/database/getversionobject">api/1/database/getversionobject</a></td>
    </tr>
    <tr>
        <td>CRUDE API</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/PrototypeASPNetCoreTemplateWebApplicationWithCrude">PrototypeASPNetCoreTemplateWebApplicationWithCrude/Index</a></td>
    </tr>
    <tr>
        <td>Business</td>
        <td>(dotNetFramework)</td>
        <td><a href="http://NorSolutionPimBusiness.azurewebsites.net">home/Index</a></td>
    </tr>
    <tr>
        <td>Front</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/financialordersearchservice/getfinancialordertypescript">api/1/financialordersearchservice/getfinancialordertypescript</a></td>
    </tr>
    <tr>
        <td>Database Front</td>
        <td>(dotNetCore)</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net">home/Index</a></td>
    </tr>
    <tr>
        <td>Front</td>
        <td>(dotNetFramework)</td>
        <td><a href="https://NorSolutionPim.azurewebsites.net">home/Index</a></td>
    </tr>
</table>
<br />
Parital Start ( needs dotNetCore 2.1 )
<br />
<partial name="Index-Templates.cshtml" />
<br />
Parital end
<br />
