<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 9:55:08 AM
  Template: SQL2XExtension.SQL2XExtensionCreatorCoreV0.TemplatesIndexMake
-->
@{
    ViewData["Title"] = "PrototypeASPNetCoreTemplateWebApplicationWithCrude";
}

<style>
    table {
        background-color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content:flex-start
    }

    h2 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 30px;
    }

    h3 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 20px;
    }
</style>

<h2>
    <b>
        <font color="DarkBlue">Templates</font>
    </b>
</h2>

<hr />
<div style="display:none;"></div>
<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />

<table class="table">
    <tr style="background-color: aliceblue; font-weight: bold;">
        <th width="2000">JSON File</th>
        <th width="2000">Url</th>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>TemplateCartProduct.json</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/cartproductsearchservice/getcartproduct">api/1/cartproductsearchservice/getcartproduct</a></td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/cartproductsearchservice/getcartproduct">api/1/cartproductsearchservice/getcartproduct</a></td>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>TemplateCartProduct.json</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/cartproductsearchservice/getcartproducttypescript">api/1/cartproductsearchservice/getcartproducttypescript</a></td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/cartproductsearchservice/getcartproducttypescript">api/1/cartproductsearchservice/getcartproducttypescript</a></td>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>TemplateFinancialOrder.json</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/financialordersearchservice/getfinancialorder">api/1/financialordersearchservice/getfinancialorder</a></td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/financialordersearchservice/getfinancialorder">api/1/financialordersearchservice/getfinancialorder</a></td>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>TemplateFinancialOrder.json</td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/financialordersearchservice/getfinancialordertypescript">api/1/financialordersearchservice/getfinancialordertypescript</a></td>
        <td><a href="http://NorSolutionPimCore.azurewebsites.net/api/1/financialordersearchservice/getfinancialordertypescript">api/1/financialordersearchservice/getfinancialordertypescript</a></td>
    </tr>
</table>
