@model IEnumerable<norpim.BusinessLogicLayer.CrudeSystemReferenceTableContract>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Display Name
        </th>
        <th>
            Changed Date Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SystemReferenceDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @if (!item.SystemReferenceTableName.IsEmpty()) {
                    @Html.ActionLink(   "Edit",
                                        "Crude" + item.SystemReferenceTableName + "Index",
                                        "Crude" + item.SystemReferenceTableName
                                        );
                }
            </td>
        </tr>
    }

</table>
