<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 12:25:17 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultPerformanceIssue.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultPerformanceIssue">CrudeDefaultPerformanceIssue</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default Performance Issue Id            </td><td>System.Guid</td></tr>
            <tr><td>Command Name            </td><td>System.String</td></tr>
            <tr><td>Command Text            </td><td>System.String</td></tr>
            <tr><td>Milliseconds            </td><td>System.Int32</td></tr>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchByDefaultPerformanceIssueId' asp-route-defaultperformanceissueid=00000000-0000-0000-0000-000000000001>FetchByDefaultPerformanceIssueId</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchByDefaultUserId' asp-route-defaultuserid=00000000-0000-0000-0000-000000000001>FetchByDefaultUserId</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueFetchByCommandName' asp-route-commandname=String.Empty>FetchByCommandName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueCreate'>CrudeDefaultPerformanceIssueCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueUpdate'>CrudeDefaultPerformanceIssueUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueDelete'>CrudeDefaultPerformanceIssueDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultPerformanceIssue' asp-action='CrudeDefaultPerformanceIssueDeleteTest'>Delete Test (GET)</a><br>
