<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 12:33:39 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultUserActivity.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultUserActivity">CrudeDefaultUserActivity</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default User Activity Id            </td><td>System.Guid</td></tr>
            <tr><td>Default User Activity Type            </td><td>System.String</td></tr>
            <tr><td>User Activity Note            </td><td>System.String</td></tr>
            <tr><td>Originating Address            </td><td>System.String</td></tr>
            <tr><td>Referrer            </td><td>System.String</td></tr>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchByDefaultUserActivityId' asp-route-defaultuseractivityid=00000000-0000-0000-0000-000000000001>FetchByDefaultUserActivityId</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchByDefaultUserActivityTypeRcd' asp-route-defaultuseractivitytypercd=00000000-0000-0000-0000-000000000001>FetchByDefaultUserActivityTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchByDefaultUserId' asp-route-defaultuserid=00000000-0000-0000-0000-000000000001>FetchByDefaultUserId</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityFetchByDefaultUserActivityId' asp-route-defaultuseractivityid=Guid.Empty>FetchByDefaultUserActivityId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityCreate'>CrudeDefaultUserActivityCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityUpdate'>CrudeDefaultUserActivityUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityDelete'>CrudeDefaultUserActivityDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultUserActivity' asp-action='CrudeDefaultUserActivityDeleteTest'>Delete Test (GET)</a><br>
