<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 2/15/2020 3:45:20 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultUser.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultUser">CrudeDefaultUser</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Default User Code            </td><td>System.String</td></tr>
            <tr><td>Default User Name            </td><td>System.String</td></tr>
            <tr><td>Email            </td><td>System.String</td></tr>
            <tr><td>Password            </td><td>System.String</td></tr>
            <tr><td>Default State            </td><td>System.String</td></tr>
            <tr><td>Created By Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Last Activity Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchByDefaultUserId' asp-route-defaultuserid=00000000-0000-0000-0000-000000000001>FetchByDefaultUserId</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchByDefaultStateRcd' asp-route-defaultstatercd=00000000-0000-0000-0000-000000000001>FetchByDefaultStateRcd</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchByCreatedByDefaultUserId' asp-route-createdbydefaultuserid=00000000-0000-0000-0000-000000000001>FetchByCreatedByDefaultUserId</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserFetchByDefaultUserName' asp-route-defaultusername=String.Empty>FetchByDefaultUserName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserCreate'>CrudeDefaultUserCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserUpdate'>CrudeDefaultUserUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserDelete'>CrudeDefaultUserDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultUser' asp-action='CrudeDefaultUserDeleteTest'>Delete Test (GET)</a><br>
