<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/22/2020 5:37:57 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultResourceMeasurement.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultResourceMeasurement">CrudeDefaultResourceMeasurement</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default Resource Measurement Id            </td><td>System.Guid</td></tr>
            <tr><td>Client Workingset Bytes            </td><td>System.Int32</td></tr>
            <tr><td>Business Workingset Bytes            </td><td>System.Int32</td></tr>
            <tr><td>Database Size Bytes            </td><td>System.Int32</td></tr>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementFetchByDefaultResourceMeasurementId' asp-route-defaultresourcemeasurementid=00000000-0000-0000-0000-000000000001>FetchByDefaultResourceMeasurementId</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementFetchByDefaultResourceMeasurementId' asp-route-defaultresourcemeasurementid=Guid.Empty>FetchByDefaultResourceMeasurementId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementCreate'>CrudeDefaultResourceMeasurementCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementUpdate'>CrudeDefaultResourceMeasurementUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementDelete'>CrudeDefaultResourceMeasurementDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultResourceMeasurement' asp-action='CrudeDefaultResourceMeasurementDeleteTest'>Delete Test (GET)</a><br>
