<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 12:33:39 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultTestRunResultRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultTestRunResultRef">CrudeDefaultTestRunResultRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default Test Run Result            </td><td>System.String</td></tr>
            <tr><td>Default Test Run Result Name            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefFetchByDefaultTestRunResultRcd' asp-route-defaulttestrunresultrcd=00000000-0000-0000-0000-000000000001>FetchByDefaultTestRunResultRcd</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefFetchByDefaultTestRunResultRcd' asp-route-defaulttestrunresultrcd=String.Empty>FetchByDefaultTestRunResultRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefCreate'>CrudeDefaultTestRunResultRefCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefUpdate'>CrudeDefaultTestRunResultRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefDelete'>CrudeDefaultTestRunResultRefDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultTestRunResultRef' asp-action='CrudeDefaultTestRunResultRefDeleteTest'>Delete Test (GET)</a><br>
