<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/16/2020 8:35:20 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultError.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultError">CrudeDefaultError</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default Error Id            </td><td>System.Guid</td></tr>
            <tr><td>Default Error Layer            </td><td>System.String</td></tr>
            <tr><td>Default Error Type            </td><td>System.String</td></tr>
            <tr><td>Layer Address            </td><td>System.String</td></tr>
            <tr><td>Error Message            </td><td>System.String</td></tr>
            <tr><td>Stack Trace            </td><td>System.String</td></tr>
            <tr><td>Method Name            </td><td>System.String</td></tr>
            <tr><td>Domain Name            </td><td>System.String</td></tr>
            <tr><td>Class Name            </td><td>System.String</td></tr>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchByDefaultErrorId' asp-route-defaulterrorid=00000000-0000-0000-0000-000000000001>FetchByDefaultErrorId</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchByDefaultErrorLayerRcd' asp-route-defaulterrorlayerrcd=00000000-0000-0000-0000-000000000001>FetchByDefaultErrorLayerRcd</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchByDefaultErrorTypeRcd' asp-route-defaulterrortypercd=00000000-0000-0000-0000-000000000001>FetchByDefaultErrorTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchByDefaultUserId' asp-route-defaultuserid=00000000-0000-0000-0000-000000000001>FetchByDefaultUserId</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorFetchByMethodName' asp-route-methodname=String.Empty>FetchByMethodName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorCreate'>CrudeDefaultErrorCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorUpdate'>CrudeDefaultErrorUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorDelete'>CrudeDefaultErrorDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultError' asp-action='CrudeDefaultErrorDeleteTest'>Delete Test (GET)</a><br>
