<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 3:02:24 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Default\DefaultIssueStatusRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeDefaultIssueStatusRef">CrudeDefaultIssueStatusRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Default Issue Status            </td><td>System.String</td></tr>
            <tr><td>Default Issue Status Name            </td><td>System.String</td></tr>
            <tr><td>Default User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchByDefaultIssueStatusRcd' asp-route-defaultissuestatusrcd=00000000-0000-0000-0000-000000000001>FetchByDefaultIssueStatusRcd</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchByDefaultUserId' asp-route-defaultuserid=00000000-0000-0000-0000-000000000001>FetchByDefaultUserId</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefFetchByDefaultIssueStatusRcd' asp-route-defaultissuestatusrcd=String.Empty>FetchByDefaultIssueStatusRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefCreate'>CrudeDefaultIssueStatusRefCreate</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefUpdate'>CrudeDefaultIssueStatusRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefDelete'>CrudeDefaultIssueStatusRefDelete</a><br>
<a asp-area='' asp-controller='CrudeDefaultIssueStatusRef' asp-action='CrudeDefaultIssueStatusRefDeleteTest'>Delete Test (GET)</a><br>
