<?xml version="1.0"?>
<Sql2WcfConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Tables>
    <Table Generate="True" Name="cart_product" TableType="BASE TABLE" UiControl="False"  PrimaryKey="cart_product_id" SearchColumn="" DisplayColumns="cart_product_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Cart" ParentKey="" />
    <Table Generate="True" Name="cart_product_price" TableType="BASE TABLE" UiControl="False"  PrimaryKey="cart_product_price_id" SearchColumn="" DisplayColumns="cart_product_price_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Cart" ParentKey="" />
    <Table Generate="True" Name="client" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_id" SearchColumn="first_name" DisplayColumns="client_id" OrderColumns="first_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_address" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_address_id" SearchColumn="address_line_one_name" DisplayColumns="client_address_id" OrderColumns="address_line_one_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_address_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_address_type_rcd" SearchColumn="client_address_type_name" DisplayColumns="client_address_type_name" OrderColumns="client_address_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_contact_method" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_contact_method_id" SearchColumn="" DisplayColumns="client_contact_method_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_contact_method_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_contact_method_rcd" SearchColumn="client_contact_method_name" DisplayColumns="client_contact_method_name" OrderColumns="client_contact_method_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_document" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_document_id" SearchColumn="document_name" DisplayColumns="client_document_id" OrderColumns="document_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_document_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_document_type_rcd" SearchColumn="client_document_type_name" DisplayColumns="client_document_type_name" OrderColumns="client_document_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_event" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_event_id" SearchColumn="" DisplayColumns="client_event_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_event_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_event_type_rcd" SearchColumn="client_event_type_name" DisplayColumns="client_event_type_name" OrderColumns="client_event_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_gender_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_gender_rcd" SearchColumn="client_gender_name" DisplayColumns="client_gender_name" OrderColumns="client_gender_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_identifier" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_identifier_id" SearchColumn="" DisplayColumns="client_identifier_id" OrderColumns="client_identifier_code" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_identifier_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_identifier_type_rcd" SearchColumn="client_identifier_type_name" DisplayColumns="client_identifier_type_name" OrderColumns="client_identifier_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_link" TableType="BASE TABLE" UiControl="False"  PrimaryKey="client_link_id" SearchColumn="link_name" DisplayColumns="client_link_id" OrderColumns="link_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_link_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_link_type_rcd" SearchColumn="client_link_type_name" DisplayColumns="client_link_type_name" OrderColumns="client_link_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_nationality_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_nationality_rcd" SearchColumn="client_nationality_name" DisplayColumns="client_nationality_name" OrderColumns="client_nationality_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_title_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_title_rcd" SearchColumn="client_title_name" DisplayColumns="client_title_name" OrderColumns="client_title_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="client_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="client_type_rcd" SearchColumn="client_type_name" DisplayColumns="client_type_name" OrderColumns="client_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Client" ParentKey="" />
    <Table Generate="True" Name="default_change_log" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_change_log_id" SearchColumn="default_change_name" DisplayColumns="default_change_log_id" OrderColumns="default_change_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_change_log_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_change_log_type_rcd" SearchColumn="default_change_log_type_name" DisplayColumns="default_change_log_type_name" OrderColumns="default_change_log_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_error" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_error_id" SearchColumn="method_name" DisplayColumns="default_error_id" OrderColumns="method_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_error_layer_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_error_layer_rcd" SearchColumn="default_error_layer_name" DisplayColumns="default_error_layer_name" OrderColumns="default_error_layer_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_error_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_error_type_rcd" SearchColumn="default_error_type_name" DisplayColumns="default_error_type_name" OrderColumns="default_error_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_issue" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_issue_id" SearchColumn="issue_name" DisplayColumns="default_issue_id" OrderColumns="issue_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_issue_status_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_issue_status_rcd" SearchColumn="default_issue_status_name" DisplayColumns="default_issue_status_name" OrderColumns="default_issue_status_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_issue_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_issue_type_rcd" SearchColumn="default_issue_type_name" DisplayColumns="default_issue_type_name" OrderColumns="default_issue_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_performance_issue" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_performance_issue_id" SearchColumn="command_name" DisplayColumns="default_performance_issue_id" OrderColumns="command_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_performance_time" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_performance_time_id" SearchColumn="command_name" DisplayColumns="default_performance_time_id" OrderColumns="command_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_performance_time_rollup" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_performance_time_rollup_id" SearchColumn="command_name" DisplayColumns="default_performance_time_rollup_id" OrderColumns="command_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_resource_measurement" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_resource_measurement_id" SearchColumn="" DisplayColumns="default_resource_measurement_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_rule" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_rule_id" SearchColumn="" DisplayColumns="default_rule_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_rule_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_rule_type_rcd" SearchColumn="default_rule_type_name" DisplayColumns="default_rule_type_name" OrderColumns="default_rule_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_state_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_state_rcd" SearchColumn="default_state_name" DisplayColumns="default_state_name" OrderColumns="default_state_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_system_reference_table" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_system_reference_table_id" SearchColumn="default_system_reference_table_name" DisplayColumns="default_system_reference_table_id" OrderColumns="default_system_reference_table_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_system_setting" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_system_setting_id" SearchColumn="" DisplayColumns="default_system_setting_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_system_setting_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_system_setting_rcd" SearchColumn="default_system_setting_name" DisplayColumns="default_system_setting_name" OrderColumns="default_system_setting_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_test" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_test_id" SearchColumn="system_name" DisplayColumns="default_test_id" OrderColumns="system_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_test_run" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_test_run_id" SearchColumn="" DisplayColumns="default_test_run_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_test_run_result_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_test_run_result_rcd" SearchColumn="default_test_run_result_name" DisplayColumns="default_test_run_result_name" OrderColumns="default_test_run_result_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_user" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_user_id" SearchColumn="default_user_name" DisplayColumns="default_user_id" OrderColumns="default_user_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_user_activity" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_user_activity_id" SearchColumn="" DisplayColumns="default_user_activity_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_user_activity_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="default_user_activity_type_rcd" SearchColumn="default_user_activity_type_name" DisplayColumns="default_user_activity_type_name" OrderColumns="default_user_activity_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefaultreference" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="default_version" TableType="BASE TABLE" UiControl="False"  PrimaryKey="default_version_id" SearchColumn="" DisplayColumns="default_version_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatedefault" AdditionalFetchers=""  DomainName="Default" ParentKey="" />
    <Table Generate="True" Name="financial_adjustment" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_adjustment_id" SearchColumn="" DisplayColumns="financial_adjustment_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_adjustment_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_adjustment_type_rcd" SearchColumn="financial_adjustment_type_name" DisplayColumns="financial_adjustment_type_name" OrderColumns="financial_adjustment_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_bank_account_number_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_bank_account_number_type_rcd" SearchColumn="financial_bank_account_number_type_name" DisplayColumns="financial_bank_account_number_type_name" OrderColumns="financial_bank_account_number_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_card_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_card_type_rcd" SearchColumn="financial_card_type_name" DisplayColumns="financial_card_type_name" OrderColumns="financial_card_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_company" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_company_id" SearchColumn="financial_company_name" DisplayColumns="financial_company_id" OrderColumns="financial_company_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_costcentre" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_costcentre_id" SearchColumn="financial_costcentre_name" DisplayColumns="financial_costcentre_id" OrderColumns="financial_costcentre_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_coupon" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_coupon_id" SearchColumn="" DisplayColumns="financial_coupon_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_coupon_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_coupon_type_rcd" SearchColumn="financial_coupon_type_name" DisplayColumns="financial_coupon_type_name" OrderColumns="financial_coupon_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_currency" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_currency_id" SearchColumn="financial_currency_type_name" DisplayColumns="financial_currency_id" OrderColumns="financial_currency_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_currency_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_currency_type_rcd" SearchColumn="financial_currency_type_name" DisplayColumns="financial_currency_type_name" OrderColumns="financial_currency_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_fee" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_fee_id" SearchColumn="" DisplayColumns="financial_fee_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_fee_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_fee_type_rcd" SearchColumn="financial_fee_type_name" DisplayColumns="financial_fee_type_name" OrderColumns="financial_fee_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_order_id" SearchColumn="" DisplayColumns="financial_order_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_event" TableType="BASE TABLE" UiControl="False"  PrimaryKey="fiancial_order_event_id" SearchColumn="" DisplayColumns="fiancial_order_event_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_event_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_order_event_type_rcd" SearchColumn="financial_order_event_type_name" DisplayColumns="financial_order_event_type_name" OrderColumns="financial_order_event_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_identifier" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_order_identifier_id" SearchColumn="" DisplayColumns="financial_order_identifier_id" OrderColumns="financial_order_identifier_code" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_identifier_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_order_identifier_type_rcd" SearchColumn="financial_order_identifier_type_name" DisplayColumns="financial_order_identifier_type_name" OrderColumns="financial_order_identifier_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_line" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_order_line_id" SearchColumn="" DisplayColumns="financial_order_line_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_source_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_order_source_rcd" SearchColumn="financial_order_source_name" DisplayColumns="financial_order_source_name" OrderColumns="financial_order_source_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_transaction" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_booking_transaction_id" SearchColumn="" DisplayColumns="financial_booking_transaction_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_order_transaction_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_order_transaction_type_rcd" SearchColumn="financial_order_transaction_type_name" DisplayColumns="financial_order_transaction_type_name" OrderColumns="financial_order_transaction_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_id" SearchColumn="" DisplayColumns="financial_payment_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_accounting" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_accounting_id" SearchColumn="" DisplayColumns="financial_payment_accounting_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_bank" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_bank_id" SearchColumn="bank_name" DisplayColumns="financial_payment_bank_id" OrderColumns="bank_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_card" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_card_id" SearchColumn="" DisplayColumns="financial_payment_card_id" OrderColumns="address_verification_code" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_cash" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_cash_id" SearchColumn="" DisplayColumns="financial_payment_cash_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_coupon" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_coupon_id" SearchColumn="" DisplayColumns="financial_payment_coupon_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_payment_type_rcd" SearchColumn="financial_payment_type_name" DisplayColumns="financial_payment_type_name" OrderColumns="financial_payment_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_payment_voucher" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_payment_voucher_id" SearchColumn="" DisplayColumns="financial_payment_voucher_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_tax" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_tax_id" SearchColumn="" DisplayColumns="financial_tax_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_tax_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_tax_type_rcd" SearchColumn="financial_tax_type_name" DisplayColumns="financial_tax_type_name" OrderColumns="financial_tax_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_unit_of_measurement_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_unit_of_measurement_rcd" SearchColumn="financial_unit_of_measurement_name" DisplayColumns="financial_unit_of_measurement_name" OrderColumns="financial_unit_of_measurement_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_voucher" TableType="BASE TABLE" UiControl="False"  PrimaryKey="financial_voucher_id" SearchColumn="" DisplayColumns="financial_voucher_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="financial_voucher_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="financial_voucher_type_rcd" SearchColumn="financial_voucher_type_name" DisplayColumns="financial_voucher_type_name" OrderColumns="financial_voucher_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Financial" ParentKey="" />
    <Table Generate="True" Name="location_address" TableType="BASE TABLE" UiControl="False"  PrimaryKey="location_address_id" SearchColumn="" DisplayColumns="location_address_id" OrderColumns="zip_code" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Location" ParentKey="" />
    <Table Generate="True" Name="location_address_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="location_address_type_rcd" SearchColumn="location_address_type_name" DisplayColumns="location_address_type_name" OrderColumns="location_address_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Location" ParentKey="" />
    <Table Generate="True" Name="location_city" TableType="BASE TABLE" UiControl="False"  PrimaryKey="location_city_id" SearchColumn="location_city_name" DisplayColumns="location_city_id" OrderColumns="location_city_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Location" ParentKey="" />
    <Table Generate="True" Name="location_country" TableType="BASE TABLE" UiControl="False"  PrimaryKey="location_country_id" SearchColumn="location_country_name" DisplayColumns="location_country_id" OrderColumns="location_country_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Location" ParentKey="" />
    <Table Generate="True" Name="product" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_id" SearchColumn="product_name" DisplayColumns="product_id" OrderColumns="product_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_attribute" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_attribute_id" SearchColumn="" DisplayColumns="product_attribute_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_attribute_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_attribute_rcd" SearchColumn="product_attribute_name" DisplayColumns="product_attribute_name" OrderColumns="product_attribute_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_attribute_unit_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_attribute_unit_rcd" SearchColumn="product_attribute_unit_name" DisplayColumns="product_attribute_unit_name" OrderColumns="product_attribute_unit_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_category" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_category_id" SearchColumn="product_category_name" DisplayColumns="product_category_id" OrderColumns="product_category_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_category_documentation" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_category_documentation_id" SearchColumn="" DisplayColumns="product_category_documentation_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_category_documentation_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_category_documentation_type_rcd" SearchColumn="product_category_documentation_type_name" DisplayColumns="product_category_documentation_type_name" OrderColumns="product_category_documentation_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_category_image" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_category_image_id" SearchColumn="" DisplayColumns="product_category_image_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_category_image_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_category_image_type_rcd" SearchColumn="product_category_image_type_name" DisplayColumns="product_category_image_type_name" OrderColumns="product_category_image_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_category_mapping" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_category_mapping_id" SearchColumn="" DisplayColumns="product_category_mapping_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_change_set" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_change_set_id" SearchColumn="" DisplayColumns="product_change_set_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_documentation" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_documentation_id" SearchColumn="" DisplayColumns="product_documentation_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_documentation_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_documentation_type_rcd" SearchColumn="product_documentation_type_name" DisplayColumns="product_documentation_type_name" OrderColumns="product_documentation_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_entity_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_entity_type_rcd" SearchColumn="product_entity_type_name" DisplayColumns="product_entity_type_name" OrderColumns="product_entity_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_expose" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_expose_id" SearchColumn="" DisplayColumns="product_expose_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_expose_plan" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_expose_plan_id" SearchColumn="" DisplayColumns="product_expose_plan_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_expose_set" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_expose_set_id" SearchColumn="product_expose_set_name" DisplayColumns="product_expose_set_id" OrderColumns="product_expose_set_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_expose_set_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_expose_set_type_rcd" SearchColumn="product_expose_set_type_name" DisplayColumns="product_expose_set_type_name" OrderColumns="product_expose_set_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_exposed_selection" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_exposed_selection_id" SearchColumn="" DisplayColumns="product_exposed_selection_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_field_set" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_field_set_id" SearchColumn="product_field_set_name" DisplayColumns="product_field_set_id" OrderColumns="product_field_set_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_field_set_mapping" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_field_set_mapping_id" SearchColumn="" DisplayColumns="product_field_set_mapping_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_gather" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_gather_id" SearchColumn="" DisplayColumns="product_gather_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_gather_attribute" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_gather_attribute_id" SearchColumn="" DisplayColumns="product_gather_attribute_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_gather_attribute_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_gather_attribute_type_rcd" SearchColumn="product_gather_attribute_type_name" DisplayColumns="product_gather_attribute_type_name" OrderColumns="product_gather_attribute_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_gather_key" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_gather_key_id" SearchColumn="" DisplayColumns="product_gather_key_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_gather_source" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_gather_source_id" SearchColumn="" DisplayColumns="product_gather_source_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_gather_source_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_gather_source_type_rcd" SearchColumn="product_gather_source_type_name" DisplayColumns="product_gather_source_type_name" OrderColumns="product_gather_source_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_identifier" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_identifier_id" SearchColumn="" DisplayColumns="product_identifier_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_identifier_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_identifier_rcd" SearchColumn="product_identifier_name" DisplayColumns="product_identifier_name" OrderColumns="product_identifier_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_image" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_image_id" SearchColumn="image_file_name" DisplayColumns="product_image_id" OrderColumns="image_file_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_image_type_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_image_type_rcd" SearchColumn="product_image_type_name" DisplayColumns="product_image_type_name" OrderColumns="product_image_type_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_info" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_info_id" SearchColumn="" DisplayColumns="product_info_id" OrderColumns="" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_info_ref" TableType="BASE TABLE" UiControl="True"  PrimaryKey="product_info_rcd" SearchColumn="product_info_name" DisplayColumns="product_info_name" OrderColumns="product_info_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatereference" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
    <Table Generate="True" Name="product_supplier" TableType="BASE TABLE" UiControl="False"  PrimaryKey="product_supplier_id" SearchColumn="supplier_name" DisplayColumns="product_supplier_id" OrderColumns="supplier_name" ExcludeColumns="" WhereCondition="" AutoUpdate="autoupdatenormal" AdditionalFetchers=""  DomainName="Product" ParentKey="" />
  </Tables>
</Sql2WcfConfiguration>
