<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/9/2020 7:26:55 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\ProductIdentifier.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProductIdentifier">CrudeProductIdentifier</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Identifier Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Identifier            </td><td>System.String</td></tr>
            <tr><td>Identifier            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchByProductIdentifierId' asp-route-productidentifierid=00000000-0000-0000-0000-000000000001>FetchByProductIdentifierId</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchByProductId' asp-route-productid=00000000-0000-0000-0000-000000000001>FetchByProductId</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchByProductIdentifierRcd' asp-route-productidentifierrcd=00000000-0000-0000-0000-000000000001>FetchByProductIdentifierRcd</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierFetchByProductIdentifierId' asp-route-productidentifierid=Guid.Empty>FetchByProductIdentifierId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierCreate'>CrudeProductIdentifierCreate</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierUpdate'>CrudeProductIdentifierUpdate</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierDelete'>CrudeProductIdentifierDelete</a><br>
<a asp-area='' asp-controller='CrudeProductIdentifier' asp-action='CrudeProductIdentifierDeleteTest'>Delete Test (GET)</a><br>
