<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/13/2020 10:45:51 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\ProductCategoryImage.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProductCategoryImage">CrudeProductCategoryImage</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Category Image Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Category Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Category Image Type            </td><td>System.String</td></tr>
            <tr><td>Image            </td><td>System.Byte[]</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchByProductCategoryImageId' asp-route-productcategoryimageid=00000000-0000-0000-0000-000000000001>FetchByProductCategoryImageId</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchByProductCategoryId' asp-route-productcategoryid=00000000-0000-0000-0000-000000000001>FetchByProductCategoryId</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchByProductCategoryImageTypeRcd' asp-route-productcategoryimagetypercd=00000000-0000-0000-0000-000000000001>FetchByProductCategoryImageTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageFetchByProductCategoryImageId' asp-route-productcategoryimageid=Guid.Empty>FetchByProductCategoryImageId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageCreate'>CrudeProductCategoryImageCreate</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageUpdate'>CrudeProductCategoryImageUpdate</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageDelete'>CrudeProductCategoryImageDelete</a><br>
<a asp-area='' asp-controller='CrudeProductCategoryImage' asp-action='CrudeProductCategoryImageDeleteTest'>Delete Test (GET)</a><br>
