<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 9:46:30 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\ProductFieldSetMapping.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProductFieldSetMapping">CrudeProductFieldSetMapping</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Field Set Mapping Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Field Set Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Identifier            </td><td>System.String</td></tr>
            <tr><td>Product Attribute            </td><td>System.String</td></tr>
            <tr><td>Product Info            </td><td>System.String</td></tr>
            <tr><td>Product Image Type            </td><td>System.String</td></tr>
            <tr><td>Product Documentation Type            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductFieldSetMappingId' asp-route-productfieldsetmappingid=00000000-0000-0000-0000-000000000001>FetchByProductFieldSetMappingId</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductFieldSetId' asp-route-productfieldsetid=00000000-0000-0000-0000-000000000001>FetchByProductFieldSetId</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductIdentifierRcd' asp-route-productidentifierrcd=00000000-0000-0000-0000-000000000001>FetchByProductIdentifierRcd</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductAttributeRcd' asp-route-productattributercd=00000000-0000-0000-0000-000000000001>FetchByProductAttributeRcd</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductInfoRcd' asp-route-productinforcd=00000000-0000-0000-0000-000000000001>FetchByProductInfoRcd</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductImageTypeRcd' asp-route-productimagetypercd=00000000-0000-0000-0000-000000000001>FetchByProductImageTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductDocumentationTypeRcd' asp-route-productdocumentationtypercd=00000000-0000-0000-0000-000000000001>FetchByProductDocumentationTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingFetchByProductFieldSetMappingId' asp-route-productfieldsetmappingid=Guid.Empty>FetchByProductFieldSetMappingId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingCreate'>CrudeProductFieldSetMappingCreate</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingUpdate'>CrudeProductFieldSetMappingUpdate</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingDelete'>CrudeProductFieldSetMappingDelete</a><br>
<a asp-area='' asp-controller='CrudeProductFieldSetMapping' asp-action='CrudeProductFieldSetMappingDeleteTest'>Delete Test (GET)</a><br>
