<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/16/2020 8:35:21 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\ProductEntityTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProductEntityTypeRef">CrudeProductEntityTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Entity Type            </td><td>System.String</td></tr>
            <tr><td>Product Entity Type Name            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefFetchByProductEntityTypeRcd' asp-route-productentitytypercd=00000000-0000-0000-0000-000000000001>FetchByProductEntityTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefFetchByProductEntityTypeRcd' asp-route-productentitytypercd=String.Empty>FetchByProductEntityTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefCreate'>CrudeProductEntityTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefUpdate'>CrudeProductEntityTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefDelete'>CrudeProductEntityTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeProductEntityTypeRef' asp-action='CrudeProductEntityTypeRefDeleteTest'>Delete Test (GET)</a><br>
