<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 2/15/2020 3:45:24 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\Product.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProduct">CrudeProduct</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Became Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Name            </td><td>System.String</td></tr>
            <tr><td>State            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchByProductId' asp-route-productid=00000000-0000-0000-0000-000000000001>FetchByProductId</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchByProductBecameId' asp-route-productbecameid=00000000-0000-0000-0000-000000000001>FetchByProductBecameId</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductFetchByProductName' asp-route-productname=String.Empty>FetchByProductName</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductCreate'>CrudeProductCreate</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductUpdate'>CrudeProductUpdate</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductDelete'>CrudeProductDelete</a><br>
<a asp-area='' asp-controller='CrudeProduct' asp-action='CrudeProductDeleteTest'>Delete Test (GET)</a><br>
