<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 3:02:28 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\ProductExpose.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProductExpose">CrudeProductExpose</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Expose Id            </td><td>System.Guid</td></tr>
            <tr><td>Expose Product Id            </td><td>System.Guid</td></tr>
            <tr><td>Expose Based On Product Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Expose Set Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchByProductExposeId' asp-route-productexposeid=00000000-0000-0000-0000-000000000001>FetchByProductExposeId</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchByExposeProductId' asp-route-exposeproductid=00000000-0000-0000-0000-000000000001>FetchByExposeProductId</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchByExposeBasedOnProductId' asp-route-exposebasedonproductid=00000000-0000-0000-0000-000000000001>FetchByExposeBasedOnProductId</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchByProductExposeSetId' asp-route-productexposesetid=00000000-0000-0000-0000-000000000001>FetchByProductExposeSetId</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeFetchByProductExposeId' asp-route-productexposeid=Guid.Empty>FetchByProductExposeId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeCreate'>CrudeProductExposeCreate</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeUpdate'>CrudeProductExposeUpdate</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeDelete'>CrudeProductExposeDelete</a><br>
<a asp-area='' asp-controller='CrudeProductExpose' asp-action='CrudeProductExposeDeleteTest'>Delete Test (GET)</a><br>
