<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 7:29:07 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Product\ProductGatherSource.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeProductGatherSource">CrudeProductGatherSource</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Product Gather Source Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Gather Id            </td><td>System.Guid</td></tr>
            <tr><td>Product Gather Source Type            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchByProductGatherSourceId' asp-route-productgathersourceid=00000000-0000-0000-0000-000000000001>FetchByProductGatherSourceId</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchByProductGatherId' asp-route-productgatherid=00000000-0000-0000-0000-000000000001>FetchByProductGatherId</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchByProductGatherSourceTypeRcd' asp-route-productgathersourcetypercd=00000000-0000-0000-0000-000000000001>FetchByProductGatherSourceTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceFetchByProductGatherSourceId' asp-route-productgathersourceid=Guid.Empty>FetchByProductGatherSourceId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceCreate'>CrudeProductGatherSourceCreate</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceUpdate'>CrudeProductGatherSourceUpdate</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceDelete'>CrudeProductGatherSourceDelete</a><br>
<a asp-area='' asp-controller='CrudeProductGatherSource' asp-action='CrudeProductGatherSourceDeleteTest'>Delete Test (GET)</a><br>
