<div class="row">
    <br />

    <table>
        <tr>
            <td><font size="6" color="DarkGreen">azure</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="http://portal.azure.com">sites</a></td>
            <td><a href="http://portal.azure.com">wcf</a></td>
            <td><a href="~/documentation/home.html">docs</a></td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-azure.png"><img src="~/images/small/nor-pim-azure.png"/></a></td>
            <td><a href="~/images/nor-pim-azure-webservice.png"><img src="~/images/small/nor-pim-azure-webservice.png"/></a></td>
            <td><a href="~/documentation/home.html"><img src="~/images/live/click.png" /></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">domains</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>product</td>
            <td>wcf</td>
            <td>wcf live</td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-code-sourceforge-product.png"><img src="~/images/small/nor-pim-code-sourceforge-product.png"/></a></td>
            <td><a href="~/images/nor-pim-business-wcf.png"><img src="~/images/small/nor-pim-business-wcf.png"/></a></td>
            <td><a href="http://norpim3ws.azurewebsites.net/"><img src="~/images/live/click.png"/></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">code</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>github</td>
            <td>sourceforge</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="https://github.com/aunebakk/norpim/blob/master/code/BusinessLogicLayer/Product/ProductService.cs"><img src="~/images/small/github.png"/></a></td>
            <td><a href="https://sourceforge.net/p/norpim/code/ci/master/tree/code/BusinessLogicLayer/Product/ProductService.cs"><img src="~/images/small/sourceforge.png"/></a></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>