<div class="row">
    <br />

    <table>
        <tr>
            <td><font size="6" color="DarkGreen">domains</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>gather</td>
            <td>category</td>
            <td>product</td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-data-gather.png"><img src="~/images/small/nor-pim-data-gather.png"/></a></td>
            <td><a href="~/images/nor-pim-data-category.png"><img src="~/images/small/nor-pim-data-category.png"/></a></td>
            <td><a href="~/images/nor-pim-data-product.png"><img src="~/images/small/nor-pim-data-product.png"/></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>expose</td>
            <td>state</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-data-state.png"><img src="~/images/small/nor-pim-data-state.png"/></a></td>
            <td><a href="~/images/nor-pim-data-expose.png"><img src="~/images/small/nor-pim-data-expose.png"/></a></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">code</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>create</td>
            <td>init</td>
            <td>load</td>
        </tr>
        <tr>
            <td><a href="https://github.com/aunebakk/norpim/blob/master/database/create/a%20-%20create.sql"><img src="~/images/small/nor-pim-code-sourceforge-code.png"/></a></td>
            <td><a href="https://github.com/aunebakk/norpim/blob/master/database/create/b%20-%20initial.sql"><img src="~/images/small/nor-pim-code-sourceforge-code.png"/></a></td>
            <td><a href="https://github.com/aunebakk/norpim/blob/master/database/load/da%20-%20raw%20load%20procedures.sql"><img src="~/images/small/nor-pim-code-sourceforge-code.png"/></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">azure</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="http://portal.azure.com">portal</a></td>
            <td>monitor</td>
            <td>azure sql</td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-azure-portal.png"><img src="~/images/small/nor-pim-azure-portal.png"/></a></td>
            <td><a href="~/images/nor-pim-azure-database.png"><img src="~/images/small/nor-pim-code-sourceforge-code.png"/></a></td>
            <td><a href="~/images/azure-sql-analyze.png"><img src="~/images/small/azure-sql-analyze.png"/></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>