<div class="row">
    <br />
    <font size="25" color="DarkGreen">talk</font>
    <br />
    showcasing a full stack, cloud to mobile system
    <br />
    developing / testing with Windows 7 &amp; IE 11 
    <br />
    <a href="mailto:roger@aunebakk.com">questions / answers</a>
    <br />
    <br />
    <font size="25" color="DarkGreen">technology</font>
    <br />
    @Html.ActionLink("interface layer for windows forms, web pages & mobile apps", "Interface", "Home")
    <br />
    @Html.ActionLink("business layer for soap web services in azure", "Business", "Home")
    <br />
    @Html.ActionLink("data layer for sql server databases in azure", "Data", "Home")
    <br />
    <br />
    <font size="25" color="DarkGreen">selfies</font>
    <br />
    <font color="DarkGreen">2014 dec 12 horten rørestrand (windows / opera)</font>
    <br />
    <a href="~/images/horten_rørestrand_refs_opera_2014_12_12.png"><img src="~/images/small/horten_rørestrand_refs_opera_2014_12_12.png" width="160" height="128" /></a>
    <br />
    <br />
    <font color="DarkGreen">2014 nov 26 horten library (windows / chrome)</font>
    <br />
    <a href="~/images/selfie_horten_biblliotek_chrome_26_11_2014.png"><img src="~/images/small/selfie_horten_biblliotek_chrome_26_11_2014.png" width="160" height="128" /></a>
    <br />
    <br />
    <font color="DarkGreen">2014 nov 25 miami jacob w/fam (mac)</font>
    <br />
    <a href="~/images/miami_jacob_mac_25_11_2014.png"><img src="~/images/small/miami_jacob_mac_25_11_2014.png" width="160" height="128" /></a>
    <br />
    <br />
    <font color="DarkGreen">2014 nov 25 tønsberg library (windows / chrome)</font>
    <br />
    <a href="~/images/tonsberg_bibliotek_refs_chrome_25_11_2014.png"><img src="~/images/small/tonsberg_bibliotek_refs_chrome_25_11_2014.png" width="160" height="128" /></a>
    <br />
    <br />
    <font color="DarkGreen">2014 nov 24 tønsberg furustrand (windows / explorer)</font>
    <br />
    <a href="~/images/tonsberg_furustrand_treeview_ie_24_11_2014.PNG"><img src="~/images/small/tonsberg_furustrand_treeview_ie_24_11_2014.PNG" width="160" height="128" /></a>
    <br />
    <br />
    <font color="DarkGreen">2014 oct 01 bangkok (ipad)</font>
    <br />
    <a href="~/images/nor-pim-interface-mobile-ipad-mvc-index.png"><img src="~/images/small/nor-pim-interface-mobile-ipad-mvc-index.png" width="160" height="128" /></a>
    <br />
</div>