<div class="row">
    <br />

    <table>
        <tr>
            <td><font size="6" color="DarkGreen">windows</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>native - login</td>
            <td>native - reference</td>
            <td>native - gather</td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-interface-winform-login.png"><img src="~/images/small/nor-pim-interface-winform-login.png"/></a></td>
            <td><a href="~/images/nor-pim-interface-winform-reference.png"><img src="~/images/small/nor-pim-interface-winform-reference.png"/></a></td>
            <td><a href="~/images/nor-pim-interface-winform-gather.png"><img src="~/images/small/nor-pim-interface-winform-gather.png"/></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>native - organize</td>
            <td>native - preview</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-interface-winform-organize.png"><img src="~/images/small/nor-pim-interface-winform-organize.png"/></a></td>
            <td><a href="~/images/nor-pim-interface-winform-preview.png"><img src="~/images/small/nor-pim-interface-winform-preview.png"/></a></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="~/install/publish.htm">winform - click once</a></td>
            <td><a href="~/StateRef">web - maintenance</a></td>
            <td><a href="~/TreeView">web - tree view</a></td>
        </tr>
        <tr>
            <td><a href="~/install/UserInterface.application"><img src="~/images/live/click.png"/></a></td>
            <td><a href="~/StateRef"><img src="~/images/live/click.png" /></a></td>
            <td><a href="~/TreeView"><img src="~/images/live/click.png" /></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">android</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>native - dev</td>
            <td>install</td>
            <td>native</td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-interface-mobile-android-environment.png"><img src="~/images/small/nor-pim-interface-mobile-android-environment.png" /></a></td>
            <td><a href="https://drive.google.com/file/d/0BynviQ2fS7O_QWRFc212bi0tcVE/view?usp=sharing"><img src="~/images/live/click.png" /></a></td>
            <td><a href="~/images/nor-pim-interface-mobile-android-native.png"><img src="~/images/small/nor-pim-interface-mobile-android-native.png" /></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">winphone</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>native - dev</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-interface-mobile-winphone-environment.png"><img src="~/images/small/nor-pim-interface-mobile-winphone-environment.png"/></a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><font size="6" color="DarkGreen">iphone</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>www - index</td>
            <td>www - edit</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="~/images/nor-pim-interface-mobile-ipad-mvc-index.png"><img src="~/images/small/nor-pim-interface-mobile-ipad-mvc-index.png"/></a></td>
            <td><a href="~/images/nor-pim-interface-mobile-ipad-mvc-edit.png"><img src="~/images/small/nor-pim-interface-mobile-ipad-mvc-index.png"/></a></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>