@model IEnumerable<norpim.BusinessLogicLayer.ProductStatisticsTop5Contract>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Measurement
        </th>
        <th>
            Value
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }

</table>
