<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/14/2020 1:21:31 PM
  From Machine: DESKTOP-00MSEIL
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductSearchByCategoryType2Contract>

@{
    ViewBag.Title = "Product Search By Category Type2";
}

<h2>Product Search By Category Type2</h2>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Gtin13</th>
        <th>Hn</th>
        <th>Color</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName) </td>
            <td>@Html.DisplayFor(modelItem => item.Gtin13) </td>
            <td>@Html.DisplayFor(modelItem => item.Hn) </td>
            <td>@Html.DisplayFor(modelItem => item.Color) </td>
        </tr>
    }

</table>
