<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/13/2020 10:55:02 AM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductExposeContract>

@{
    ViewBag.Title = "Index Product Expose";
}

<h2>Index for Product Expose</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductExposeCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductExposeEdit", new { productExposeId = item.ProductExposeId })
                | @Html.ActionLink("Delete", "CrudeProductExposeDelete", new { productExposeId = item.ProductExposeId })
            </td>
        </tr>
    }

</table>
