<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 12:33:46 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Location\LocationAddress.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeLocationAddress">CrudeLocationAddress</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Location Address Id            </td><td>System.Guid</td></tr>
            <tr><td>Location Address Type            </td><td>System.String</td></tr>
            <tr><td>Location Country Id            </td><td>System.Guid</td></tr>
            <tr><td>Address One            </td><td>System.String</td></tr>
            <tr><td>Address Two            </td><td>System.String</td></tr>
            <tr><td>Address Three            </td><td>System.String</td></tr>
            <tr><td>City            </td><td>System.String</td></tr>
            <tr><td>Street            </td><td>System.String</td></tr>
            <tr><td>State            </td><td>System.String</td></tr>
            <tr><td>District            </td><td>System.String</td></tr>
            <tr><td>Province            </td><td>System.String</td></tr>
            <tr><td>Zip Code            </td><td>System.String</td></tr>
            <tr><td>Po Box            </td><td>System.String</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchByLocationAddressId' asp-route-locationaddressid=00000000-0000-0000-0000-000000000001>FetchByLocationAddressId</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchByLocationAddressTypeRcd' asp-route-locationaddresstypercd=00000000-0000-0000-0000-000000000001>FetchByLocationAddressTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchByLocationCountryId' asp-route-locationcountryid=00000000-0000-0000-0000-000000000001>FetchByLocationCountryId</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressFetchByLocationAddressId' asp-route-locationaddressid=Guid.Empty>FetchByLocationAddressId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressCreate'>CrudeLocationAddressCreate</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressUpdate'>CrudeLocationAddressUpdate</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressDelete'>CrudeLocationAddressDelete</a><br>
<a asp-area='' asp-controller='CrudeLocationAddress' asp-action='CrudeLocationAddressDeleteTest'>Delete Test (GET)</a><br>
