<?xml version="1.0"?>
<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/14/2020 4:09:31 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.Prototype.Content_connectionDOTconfig
-->
<appSettings>
  <add key="Conn" value="Data Source=(localdb)\\MSSQLLocalDB;"/>
  <add key="ConnLocal" value="Data Source=(localdb)\\MSSQLLocalDB;"/>
  <add key="ConnRemote" value="Data Source=(localdb)\\MSSQLLocalDB;"/>
</appSettings>

