<div style="display:none;">
</div>

<canvas id="myCanvas" style="border:25px solid #0000d3;">
    Your browser does not support the HTML5 canvas tag.
</canvas>
<a href="~/Documentation/Splash.html">HTML only</a>
<br />
<div id="content"></div>
<br />
@section Scripts {
    <script src="~/Scripts/Dashboard/dashboardWhiteboard.js"></script>
}
