<p>Please log in before placing items in the cart</p>
<br />
<br />

<h3>@ViewBag.Message</h3>
<br />
<br />

@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
<br />
<br />
@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
<br />
<br />
 
