@model norpim.BusinessLogicLayer.CrudeProductExposedSelectionContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Date Time</dt> <dd>@Html.DisplayFor(model => model.DateTime)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { productExposedSelectionId = Model.ProductExposedSelectionId }) |
    @Html.ActionLink("New", "CrudeProductExposedSelectionCreate", new { }) |
    @Html.ActionLink("Back to List", "CrudeProductExposedSelectionIndex")
</p>
