<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 4:47:45 PM
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.DefaultResourceStatisticsContract>

@{
    ViewBag.Title = "Default Resource Statistics";
}

<h2>Default Resource Statistics</h2>

<table class="table">
    <tr>
        <th>Hour Number</th>
        <th>Client Workingset Bytes</th>
        <th>Business Workingset Bytes</th>
        <th>Database Size Bytes</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.HourNumber) </td>
            <td>@Html.DisplayFor(modelItem => item.ClientWorkingsetBytes) </td>
            <td>@Html.DisplayFor(modelItem => item.BusinessWorkingsetBytes) </td>
            <td>@Html.DisplayFor(modelItem => item.DatabaseSizeBytes) </td>
        </tr>
    }

</table>
