<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/27/2020 3:53:32 PM
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.DefaultPerformanceIndicatorsContract>

@{
    ViewBag.Title = "Default Performance Indicators";
}

<h2>Default Performance Indicators</h2>

<table class="table">
    <tr>
        <th>Command Name</th>
        <th>Hit Count</th>
        <th>Average Milliseconds</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CommandName) </td>
            <td>@Html.DisplayFor(modelItem => item.HitCount) </td>
            <td>@Html.DisplayFor(modelItem => item.AverageMilliseconds) </td>
        </tr>
    }

</table>
