<?xml version="1.0" encoding="utf-8"?>
<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 11/3/2020 6:02:16 AM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.PrototypeDotNetFrameworkWinExe.Content_appDOTconfig
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Cart/CrudeCartProductService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeCartProductService" name="BasicHttpBinding_ICrudeCartProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Cart/CrudeCartProductPriceService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeCartProductPriceService" name="BasicHttpBinding_ICrudeCartProductPriceService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientService" name="BasicHttpBinding_ICrudeClientService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientAddressService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientAddressService" name="BasicHttpBinding_ICrudeClientAddressService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientAddressTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientAddressTypeRefService" name="BasicHttpBinding_ICrudeClientAddressTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientContactMethodService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientContactMethodService" name="BasicHttpBinding_ICrudeClientContactMethodService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientContactMethodRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientContactMethodRefService" name="BasicHttpBinding_ICrudeClientContactMethodRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientDocumentService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientDocumentService" name="BasicHttpBinding_ICrudeClientDocumentService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientDocumentTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientDocumentTypeRefService" name="BasicHttpBinding_ICrudeClientDocumentTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientEventService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientEventService" name="BasicHttpBinding_ICrudeClientEventService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientEventTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientEventTypeRefService" name="BasicHttpBinding_ICrudeClientEventTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientGenderRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientGenderRefService" name="BasicHttpBinding_ICrudeClientGenderRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientIdentifierService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientIdentifierService" name="BasicHttpBinding_ICrudeClientIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientIdentifierTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientIdentifierTypeRefService" name="BasicHttpBinding_ICrudeClientIdentifierTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientLinkService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientLinkService" name="BasicHttpBinding_ICrudeClientLinkService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientLinkTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientLinkTypeRefService" name="BasicHttpBinding_ICrudeClientLinkTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientNationalityRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientNationalityRefService" name="BasicHttpBinding_ICrudeClientNationalityRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientTitleRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientTitleRefService" name="BasicHttpBinding_ICrudeClientTitleRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Client/CrudeClientTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientTypeRefService" name="BasicHttpBinding_ICrudeClientTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultChangeLogService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultChangeLogService" name="BasicHttpBinding_ICrudeDefaultChangeLogService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultChangeLogTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultChangeLogTypeRefService" name="BasicHttpBinding_ICrudeDefaultChangeLogTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultErrorService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultErrorService" name="BasicHttpBinding_ICrudeDefaultErrorService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultErrorLayerRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultErrorLayerRefService" name="BasicHttpBinding_ICrudeDefaultErrorLayerRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultErrorTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultErrorTypeRefService" name="BasicHttpBinding_ICrudeDefaultErrorTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultIssueService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultIssueService" name="BasicHttpBinding_ICrudeDefaultIssueService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultIssueStatusRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultIssueStatusRefService" name="BasicHttpBinding_ICrudeDefaultIssueStatusRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultIssueTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultIssueTypeRefService" name="BasicHttpBinding_ICrudeDefaultIssueTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultPerformanceIssueService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultPerformanceIssueService" name="BasicHttpBinding_ICrudeDefaultPerformanceIssueService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultPerformanceTimeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultPerformanceTimeService" name="BasicHttpBinding_ICrudeDefaultPerformanceTimeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultPerformanceTimeRollupService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultPerformanceTimeRollupService" name="BasicHttpBinding_ICrudeDefaultPerformanceTimeRollupService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultResourceMeasurementService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultResourceMeasurementService" name="BasicHttpBinding_ICrudeDefaultResourceMeasurementService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultRuleService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultRuleService" name="BasicHttpBinding_ICrudeDefaultRuleService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultRuleTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultRuleTypeRefService" name="BasicHttpBinding_ICrudeDefaultRuleTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultStateRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultStateRefService" name="BasicHttpBinding_ICrudeDefaultStateRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultSystemReferenceTableService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultSystemReferenceTableService" name="BasicHttpBinding_ICrudeDefaultSystemReferenceTableService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultSystemSettingService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultSystemSettingService" name="BasicHttpBinding_ICrudeDefaultSystemSettingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultSystemSettingRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultSystemSettingRefService" name="BasicHttpBinding_ICrudeDefaultSystemSettingRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultTestService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultTestService" name="BasicHttpBinding_ICrudeDefaultTestService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultTestRunService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultTestRunService" name="BasicHttpBinding_ICrudeDefaultTestRunService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultTestRunResultRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultTestRunResultRefService" name="BasicHttpBinding_ICrudeDefaultTestRunResultRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultUserService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultUserService" name="BasicHttpBinding_ICrudeDefaultUserService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultUserActivityService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultUserActivityService" name="BasicHttpBinding_ICrudeDefaultUserActivityService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultUserActivityTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultUserActivityTypeRefService" name="BasicHttpBinding_ICrudeDefaultUserActivityTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Default/CrudeDefaultVersionService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultVersionService" name="BasicHttpBinding_ICrudeDefaultVersionService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Financial/CrudeFinancialCurrencyService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCurrencyService" name="BasicHttpBinding_ICrudeFinancialCurrencyService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Financial/CrudeFinancialOrderService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderService" name="BasicHttpBinding_ICrudeFinancialOrderService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductService" name="BasicHttpBinding_ICrudeProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductAttributeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeService" name="BasicHttpBinding_ICrudeProductAttributeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductAttributeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeRefService" name="BasicHttpBinding_ICrudeProductAttributeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductAttributeUnitRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeUnitRefService" name="BasicHttpBinding_ICrudeProductAttributeUnitRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryService" name="BasicHttpBinding_ICrudeProductCategoryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductCategoryDocumentationService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryDocumentationService" name="BasicHttpBinding_ICrudeProductCategoryDocumentationService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductCategoryDocumentationTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryDocumentationTypeRefService" name="BasicHttpBinding_ICrudeProductCategoryDocumentationTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductCategoryImageService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryImageService" name="BasicHttpBinding_ICrudeProductCategoryImageService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductCategoryImageTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryImageTypeRefService" name="BasicHttpBinding_ICrudeProductCategoryImageTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductCategoryMappingService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryMappingService" name="BasicHttpBinding_ICrudeProductCategoryMappingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductChangeSetService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductChangeSetService" name="BasicHttpBinding_ICrudeProductChangeSetService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductDocumentationService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductDocumentationService" name="BasicHttpBinding_ICrudeProductDocumentationService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductDocumentationTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductDocumentationTypeRefService" name="BasicHttpBinding_ICrudeProductDocumentationTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductEntityTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductEntityTypeRefService" name="BasicHttpBinding_ICrudeProductEntityTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductExposeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeService" name="BasicHttpBinding_ICrudeProductExposeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductExposePlanService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposePlanService" name="BasicHttpBinding_ICrudeProductExposePlanService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductExposeSetService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeSetService" name="BasicHttpBinding_ICrudeProductExposeSetService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductExposeSetTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeSetTypeRefService" name="BasicHttpBinding_ICrudeProductExposeSetTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductExposedSelectionService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposedSelectionService" name="BasicHttpBinding_ICrudeProductExposedSelectionService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductFieldSetService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductFieldSetService" name="BasicHttpBinding_ICrudeProductFieldSetService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductFieldSetMappingService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductFieldSetMappingService" name="BasicHttpBinding_ICrudeProductFieldSetMappingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductGatherService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherService" name="BasicHttpBinding_ICrudeProductGatherService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductGatherAttributeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherAttributeService" name="BasicHttpBinding_ICrudeProductGatherAttributeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductGatherAttributeTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherAttributeTypeRefService" name="BasicHttpBinding_ICrudeProductGatherAttributeTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductGatherKeyService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherKeyService" name="BasicHttpBinding_ICrudeProductGatherKeyService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductGatherSourceService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherSourceService" name="BasicHttpBinding_ICrudeProductGatherSourceService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductGatherSourceTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherSourceTypeRefService" name="BasicHttpBinding_ICrudeProductGatherSourceTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductIdentifierService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductIdentifierService" name="BasicHttpBinding_ICrudeProductIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductIdentifierRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductIdentifierRefService" name="BasicHttpBinding_ICrudeProductIdentifierRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductImageService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductImageService" name="BasicHttpBinding_ICrudeProductImageService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductImageTypeRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductImageTypeRefService" name="BasicHttpBinding_ICrudeProductImageTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductInfoService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductInfoService" name="BasicHttpBinding_ICrudeProductInfoService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductInfoRefService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductInfoRefService" name="BasicHttpBinding_ICrudeProductInfoRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Crude/Templates/Product/CrudeProductSupplierService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductSupplierService" name="BasicHttpBinding_ICrudeProductSupplierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductMaintenance/ProductMaintenanceSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductMaintenanceSearchService" name="BasicHttpBinding_IProductMaintenanceSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Cart/CartProductSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICartProductSearchService" name="BasicHttpBinding_ICartProductSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Cart/CartSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICartSearchService" name="BasicHttpBinding_ICartSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Client/ClientSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IClientSearchService" name="BasicHttpBinding_IClientSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Default/DefaultSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IDefaultSearchService" name="BasicHttpBinding_IDefaultSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Category/CategorySearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICategorySearchService" name="BasicHttpBinding_ICategorySearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Product/ProductSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductSearchService" name="BasicHttpBinding_IProductSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeSearchService" name="BasicHttpBinding_IProductReferenceAttributeSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeUnitSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeUnitSearchService" name="BasicHttpBinding_IProductReferenceAttributeUnitSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Cart/CartProductService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICartProductService" name="BasicHttpBinding_ICartProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeService" name="BasicHttpBinding_IProductReferenceAttributeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeUnitService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeUnitService" name="BasicHttpBinding_IProductReferenceAttributeUnitService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceCategoryService" name="BasicHttpBinding_IProductReferenceCategoryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceCategoryDocumentationTypeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceCategoryDocumentationTypeService" name="BasicHttpBinding_IProductReferenceCategoryDocumentationTypeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceDocumentationTypeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceDocumentationTypeService" name="BasicHttpBinding_IProductReferenceDocumentationTypeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceIdentifierService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceIdentifierService" name="BasicHttpBinding_IProductReferenceIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceImageTypeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceImageTypeService" name="BasicHttpBinding_IProductReferenceImageTypeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Product/ProductService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Product/ProductCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductCategoryService" name="BasicHttpBinding_IProductCategoryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Default/DefaultUserActivityService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IDefaultUserActivityService" name="BasicHttpBinding_IDefaultUserActivityService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Default/DiagnosticsService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IDiagnosticsService" name="BasicHttpBinding_IDiagnosticsService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" allowCookies="false" maxBufferPoolSize="524288" maxBufferSize="116553600" maxReceivedMessageSize="116553600">
          <readerQuotas maxDepth="32" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>