<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/13/2020 2:50:59 PM
  From Machine: DESKTOP-517I8BU
  Template: sql2x.TemplateFromCrudeMvcGenerator.FromCrudeViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.CrudeProductChangeSetContract>

@{
    ViewBag.Title = "Index Product Change Set";
}

<h2>Index for Product Change Set</h2>

<p>
    @Html.ActionLink("Create New", "CrudeProductChangeSetCreate")
</p>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>
                @Html.ActionLink("Edit", "CrudeProductChangeSetEdit", new { productChangeSetId = item.ProductChangeSetId })
                | @Html.ActionLink("Delete", "CrudeProductChangeSetDelete", new { productChangeSetId = item.ProductChangeSetId })
            </td>
        </tr>
    }

</table>
