<?xml version="1.0"?>
<configuration>
  <appSettings file="connection.config" />
  <!--appSettings-->
    <!--add key="Conn" value="Initial Catalog=norpim;Trusted_Connection=yes;Integrated Security=SSPI;Data Source=.\sqlexpress" /-->
  <!--/appSettings-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, 
                set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, 
                set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="norpim.BusinessLogicLayer.StatisticsSearchService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.IStatisticsSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CategorySearchService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICategorySearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.ProductSearchService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.IProductSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.GatherSearchService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.IGatherSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.ExposeSearchService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.IExposeSearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductAttributeService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductAttributeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductAttributeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductAttributeUnitRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductAttributeUnitRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductCategoryService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductCategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductCategoryDocumentationService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductCategoryDocumentationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductCategoryDocumentationTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductCategoryDocumentationTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductCategoryImageService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductCategoryImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductCategoryImageTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductCategoryImageTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductCategoryMappingService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductCategoryMappingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductChangeSetService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductChangeSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductDocumentationService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductDocumentationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductDocumentationTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductDocumentationTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductExposeService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductExposeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductExposePlanService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductExposePlanService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductExposeSetService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductExposeSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductExposeSetTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductExposeSetTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductExposedSelectionService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductExposedSelectionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductGatherService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductGatherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductGatherAttributeService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductGatherAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductGatherAttributeTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductGatherAttributeTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductGatherKeyService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductGatherKeyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductGatherSourceService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductGatherSourceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductFieldSetService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductFieldSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductFieldSetMappingService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductFieldSetMappingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductGatherSourceTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductGatherSourceTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductIdentifierService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductIdentifierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductIdentifierRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductIdentifierRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductImageService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductImageTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductImageTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductInfoService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductInfoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductInfoRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductInfoRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeProductSupplierService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeProductSupplierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeStateRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeStateRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeSystemReferenceTableService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeSystemReferenceTableService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeSystemSettingService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeSystemSettingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeSystemSettingRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeSystemSettingRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeUserService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeUserActivityService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeUserActivityService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.CrudeUserActivityTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.ICrudeUserActivityTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norpim.BusinessLogicLayer.UserActivitySearchService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norpim.BusinessLogicLayer.IUserActivitySearchService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductAttributeService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductAttributeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductAttributeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductAttributeUnitRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductAttributeUnitRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductCategoryService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductCategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductCategoryDocumentationService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductCategoryDocumentationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductCategoryDocumentationTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductCategoryDocumentationTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductCategoryImageService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductCategoryImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductCategoryImageTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductCategoryImageTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductCategoryMappingService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductCategoryMappingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductChangeSetService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductChangeSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductDocumentationService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductDocumentationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductDocumentationTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductDocumentationTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductExposeService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductExposeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductExposePlanService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductExposePlanService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductExposeSetService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductExposeSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductExposeSetTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductExposeSetTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductExposedSelectionService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductExposedSelectionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductFieldSetService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductFieldSetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductFieldSetMappingService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductFieldSetMappingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductGatherService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductGatherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductGatherAttributeService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductGatherAttributeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductGatherAttributeTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductGatherAttributeTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductGatherKeyService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductGatherKeyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductGatherSourceService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductGatherSourceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductGatherSourceTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductGatherSourceTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductIdentifierService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductIdentifierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductIdentifierRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductIdentifierRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductImageService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductImageTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductImageTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductInfoService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductInfoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductInfoRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductInfoRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeProductSupplierService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeProductSupplierService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeStateRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeStateRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeSystemReferenceTableService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeSystemReferenceTableService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeSystemSettingService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeSystemSettingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeSystemSettingRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeSystemSettingRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeUserService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeUserActivityService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeUserActivityService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="norport.BusinessLogicLayer.CrudeUserActivityTypeRefService" behaviorConfiguration="DefaultServiceBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="norport.BusinessLogicLayer.ICrudeUserActivityTypeRefService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>