<p>nor pim logo from Azure blob</p>
<br />
EndpointSuffix = core.windows.net<br />
AccountName=norpim<br />
Container = mycontainer<br />
Blob = helloworld.txt<br />
<br />
<hr />
<div id="drawForm">
    <img src="Home/ShowForm" alt="Logo" />
</div>
