<?xml version="1.0" encoding="utf-8"?>
<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 12:24:17 PM
  Template: sql2x.PrototypeDotNetFrameworkWebAppMvcAndOAuth.Content_webDOTconfig
-->
<configuration>
  <!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString=""/>
  </connectionStrings>
  <appSettings file="connection.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <client>
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Cart/CartProduct.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICartProductService" name="BasicHttpBinding_ICartProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Cart\CrudeCartProductPrice.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeCartProductPriceService" name="BasicHttpBinding_ICrudeCartProductPriceService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClient.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientService" name="BasicHttpBinding_ICrudeClientService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientAddress.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientAddressService" name="BasicHttpBinding_ICrudeClientAddressService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientAddressTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientAddressTypeRefService" name="BasicHttpBinding_ICrudeClientAddressTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientContactMethod.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientContactMethodService" name="BasicHttpBinding_ICrudeClientContactMethodService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientContactMethodRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientContactMethodRefService" name="BasicHttpBinding_ICrudeClientContactMethodRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientDocument.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientDocumentService" name="BasicHttpBinding_ICrudeClientDocumentService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientDocumentTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientDocumentTypeRefService" name="BasicHttpBinding_ICrudeClientDocumentTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientEvent.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientEventService" name="BasicHttpBinding_ICrudeClientEventService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientEventTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientEventTypeRefService" name="BasicHttpBinding_ICrudeClientEventTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientGenderRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientGenderRefService" name="BasicHttpBinding_ICrudeClientGenderRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientIdentifier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientIdentifierService" name="BasicHttpBinding_ICrudeClientIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientIdentifierTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientIdentifierTypeRefService" name="BasicHttpBinding_ICrudeClientIdentifierTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientLink.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientLinkService" name="BasicHttpBinding_ICrudeClientLinkService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientLinkTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientLinkTypeRefService" name="BasicHttpBinding_ICrudeClientLinkTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientNationalityRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientNationalityRefService" name="BasicHttpBinding_ICrudeClientNationalityRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientTitleRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientTitleRefService" name="BasicHttpBinding_ICrudeClientTitleRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Client\CrudeClientTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeClientTypeRefService" name="BasicHttpBinding_ICrudeClientTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultChangeLog.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultChangeLogService" name="BasicHttpBinding_ICrudeDefaultChangeLogService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultChangeLogTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultChangeLogTypeRefService" name="BasicHttpBinding_ICrudeDefaultChangeLogTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultError.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultErrorService" name="BasicHttpBinding_ICrudeDefaultErrorService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultErrorLayerRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultErrorLayerRefService" name="BasicHttpBinding_ICrudeDefaultErrorLayerRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultErrorTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultErrorTypeRefService" name="BasicHttpBinding_ICrudeDefaultErrorTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultIssue.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultIssueService" name="BasicHttpBinding_ICrudeDefaultIssueService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultIssueStatusRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultIssueStatusRefService" name="BasicHttpBinding_ICrudeDefaultIssueStatusRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultIssueTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultIssueTypeRefService" name="BasicHttpBinding_ICrudeDefaultIssueTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultPerformanceIssue.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultPerformanceIssueService" name="BasicHttpBinding_ICrudeDefaultPerformanceIssueService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultPerformanceTime.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultPerformanceTimeService" name="BasicHttpBinding_ICrudeDefaultPerformanceTimeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultPerformanceTimeRollup.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultPerformanceTimeRollupService" name="BasicHttpBinding_ICrudeDefaultPerformanceTimeRollupService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultResourceMeasurement.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultResourceMeasurementService" name="BasicHttpBinding_ICrudeDefaultResourceMeasurementService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultRule.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultRuleService" name="BasicHttpBinding_ICrudeDefaultRuleService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultRuleTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultRuleTypeRefService" name="BasicHttpBinding_ICrudeDefaultRuleTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultStateRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultStateRefService" name="BasicHttpBinding_ICrudeDefaultStateRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultSystemReferenceTable.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultSystemReferenceTableService" name="BasicHttpBinding_ICrudeDefaultSystemReferenceTableService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultSystemSetting.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultSystemSettingService" name="BasicHttpBinding_ICrudeDefaultSystemSettingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultSystemSettingRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultSystemSettingRefService" name="BasicHttpBinding_ICrudeDefaultSystemSettingRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultTest.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultTestService" name="BasicHttpBinding_ICrudeDefaultTestService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultTestRun.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultTestRunService" name="BasicHttpBinding_ICrudeDefaultTestRunService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultTestRunResultRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultTestRunResultRefService" name="BasicHttpBinding_ICrudeDefaultTestRunResultRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultUser.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultUserService" name="BasicHttpBinding_ICrudeDefaultUserService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultUserActivity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultUserActivityService" name="BasicHttpBinding_ICrudeDefaultUserActivityService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultUserActivityTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultUserActivityTypeRefService" name="BasicHttpBinding_ICrudeDefaultUserActivityTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Default\CrudeDefaultVersion.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeDefaultVersionService" name="BasicHttpBinding_ICrudeDefaultVersionService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialAdjustment.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialAdjustmentService" name="BasicHttpBinding_ICrudeFinancialAdjustmentService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialAdjustmentTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialAdjustmentTypeRefService" name="BasicHttpBinding_ICrudeFinancialAdjustmentTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialBankAccountNumberTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialBankAccountNumberTypeRefService" name="BasicHttpBinding_ICrudeFinancialBankAccountNumberTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCardTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCardTypeRefService" name="BasicHttpBinding_ICrudeFinancialCardTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCompany.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCompanyService" name="BasicHttpBinding_ICrudeFinancialCompanyService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCostcentre.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCostcentreService" name="BasicHttpBinding_ICrudeFinancialCostcentreService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCoupon.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCouponService" name="BasicHttpBinding_ICrudeFinancialCouponService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCouponTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCouponTypeRefService" name="BasicHttpBinding_ICrudeFinancialCouponTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCurrency.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCurrencyService" name="BasicHttpBinding_ICrudeFinancialCurrencyService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialCurrencyTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialCurrencyTypeRefService" name="BasicHttpBinding_ICrudeFinancialCurrencyTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialFee.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialFeeService" name="BasicHttpBinding_ICrudeFinancialFeeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialFeeTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialFeeTypeRefService" name="BasicHttpBinding_ICrudeFinancialFeeTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrder.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderService" name="BasicHttpBinding_ICrudeFinancialOrderService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderEvent.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderEventService" name="BasicHttpBinding_ICrudeFinancialOrderEventService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderEventTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderEventTypeRefService" name="BasicHttpBinding_ICrudeFinancialOrderEventTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderIdentifier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderIdentifierService" name="BasicHttpBinding_ICrudeFinancialOrderIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderIdentifierTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderIdentifierTypeRefService" name="BasicHttpBinding_ICrudeFinancialOrderIdentifierTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderLine.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderLineService" name="BasicHttpBinding_ICrudeFinancialOrderLineService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderSourceRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderSourceRefService" name="BasicHttpBinding_ICrudeFinancialOrderSourceRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderTransaction.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderTransactionService" name="BasicHttpBinding_ICrudeFinancialOrderTransactionService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialOrderTransactionTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialOrderTransactionTypeRefService" name="BasicHttpBinding_ICrudeFinancialOrderTransactionTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPayment.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentService" name="BasicHttpBinding_ICrudeFinancialPaymentService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentAccounting.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentAccountingService" name="BasicHttpBinding_ICrudeFinancialPaymentAccountingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentBank.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentBankService" name="BasicHttpBinding_ICrudeFinancialPaymentBankService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentCard.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentCardService" name="BasicHttpBinding_ICrudeFinancialPaymentCardService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentCash.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentCashService" name="BasicHttpBinding_ICrudeFinancialPaymentCashService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentCoupon.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentCouponService" name="BasicHttpBinding_ICrudeFinancialPaymentCouponService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentTypeRefService" name="BasicHttpBinding_ICrudeFinancialPaymentTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialPaymentVoucher.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialPaymentVoucherService" name="BasicHttpBinding_ICrudeFinancialPaymentVoucherService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialTax.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialTaxService" name="BasicHttpBinding_ICrudeFinancialTaxService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialTaxTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialTaxTypeRefService" name="BasicHttpBinding_ICrudeFinancialTaxTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialUnitOfMeasurementRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialUnitOfMeasurementRefService" name="BasicHttpBinding_ICrudeFinancialUnitOfMeasurementRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialVoucher.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialVoucherService" name="BasicHttpBinding_ICrudeFinancialVoucherService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Financial\CrudeFinancialVoucherTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeFinancialVoucherTypeRefService" name="BasicHttpBinding_ICrudeFinancialVoucherTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Location\CrudeLocationAddress.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeLocationAddressService" name="BasicHttpBinding_ICrudeLocationAddressService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Location\CrudeLocationAddressTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeLocationAddressTypeRefService" name="BasicHttpBinding_ICrudeLocationAddressTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Location\CrudeLocationCity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeLocationCityService" name="BasicHttpBinding_ICrudeLocationCityService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Location\CrudeLocationCountry.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeLocationCountryService" name="BasicHttpBinding_ICrudeLocationCountryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProduct.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductService" name="BasicHttpBinding_ICrudeProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductAttribute.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeService" name="BasicHttpBinding_ICrudeProductAttributeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductAttributeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeRefService" name="BasicHttpBinding_ICrudeProductAttributeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductAttributeUnitRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeUnitRefService" name="BasicHttpBinding_ICrudeProductAttributeUnitRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductCategory.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryService" name="BasicHttpBinding_ICrudeProductCategoryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductCategoryDocumentation.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryDocumentationService" name="BasicHttpBinding_ICrudeProductCategoryDocumentationService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductCategoryDocumentationTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryDocumentationTypeRefService" name="BasicHttpBinding_ICrudeProductCategoryDocumentationTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductCategoryImage.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryImageService" name="BasicHttpBinding_ICrudeProductCategoryImageService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductCategoryImageTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryImageTypeRefService" name="BasicHttpBinding_ICrudeProductCategoryImageTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductCategoryMapping.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryMappingService" name="BasicHttpBinding_ICrudeProductCategoryMappingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductChangeSet.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductChangeSetService" name="BasicHttpBinding_ICrudeProductChangeSetService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductDocumentation.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductDocumentationService" name="BasicHttpBinding_ICrudeProductDocumentationService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductDocumentationTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductDocumentationTypeRefService" name="BasicHttpBinding_ICrudeProductDocumentationTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductEntityTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductEntityTypeRefService" name="BasicHttpBinding_ICrudeProductEntityTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductExpose.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeService" name="BasicHttpBinding_ICrudeProductExposeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductExposePlan.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposePlanService" name="BasicHttpBinding_ICrudeProductExposePlanService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductExposeSet.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeSetService" name="BasicHttpBinding_ICrudeProductExposeSetService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductExposeSetTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeSetTypeRefService" name="BasicHttpBinding_ICrudeProductExposeSetTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductExposedSelection.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposedSelectionService" name="BasicHttpBinding_ICrudeProductExposedSelectionService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductFieldSet.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductFieldSetService" name="BasicHttpBinding_ICrudeProductFieldSetService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductFieldSetMapping.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductFieldSetMappingService" name="BasicHttpBinding_ICrudeProductFieldSetMappingService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductGather.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherService" name="BasicHttpBinding_ICrudeProductGatherService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductGatherAttribute.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherAttributeService" name="BasicHttpBinding_ICrudeProductGatherAttributeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductGatherAttributeTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherAttributeTypeRefService" name="BasicHttpBinding_ICrudeProductGatherAttributeTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductGatherKey.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherKeyService" name="BasicHttpBinding_ICrudeProductGatherKeyService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductGatherSource.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherSourceService" name="BasicHttpBinding_ICrudeProductGatherSourceService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductGatherSourceTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherSourceTypeRefService" name="BasicHttpBinding_ICrudeProductGatherSourceTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductIdentifier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductIdentifierService" name="BasicHttpBinding_ICrudeProductIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductIdentifierRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductIdentifierRefService" name="BasicHttpBinding_ICrudeProductIdentifierRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductImage.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductImageService" name="BasicHttpBinding_ICrudeProductImageService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductImageTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductImageTypeRefService" name="BasicHttpBinding_ICrudeProductImageTypeRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductInfo.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductInfoService" name="BasicHttpBinding_ICrudeProductInfoService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductInfoRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductInfoRefService" name="BasicHttpBinding_ICrudeProductInfoRefService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/BusinessWCFSoap\Templates\Product\CrudeProductSupplier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductSupplierService" name="BasicHttpBinding_ICrudeProductSupplierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Cart/CartSearch.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICartSearchService" name="BasicHttpBinding_ICartSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductMaintenance/ProductMaintenanceSearch.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductMaintenanceSearchService" name="BasicHttpBinding_IProductMaintenanceSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeSearch.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeSearchService" name="BasicHttpBinding_IProductReferenceAttributeSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttribute.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeService" name="BasicHttpBinding_IProductReferenceAttributeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeUnitSearch.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeUnitSearchService" name="BasicHttpBinding_IProductReferenceAttributeUnitSearchService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceAttributeUnit.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceAttributeUnitService" name="BasicHttpBinding_IProductReferenceAttributeUnitService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceCategory.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceCategoryService" name="BasicHttpBinding_IProductReferenceCategoryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceCategoryDocumentationType.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceCategoryDocumentationTypeService" name="BasicHttpBinding_IProductReferenceCategoryDocumentationTypeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceDocumentationType.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceDocumentationTypeService" name="BasicHttpBinding_IProductReferenceDocumentationTypeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceIdentifier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceIdentifierService" name="BasicHttpBinding_IProductReferenceIdentifierService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceImageType.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceImageTypeService" name="BasicHttpBinding_IProductReferenceImageTypeService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/ProductReference/ProductReferenceInfo.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductReferenceInfoService" name="BasicHttpBinding_IProductReferenceInfoService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Product/ProductService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Product/ProductCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IProductCategoryService" name="BasicHttpBinding_IProductCategoryService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Default/DefaultUserActivityService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IDefaultUserActivityService" name="BasicHttpBinding_IDefaultUserActivityService" />
      <endpoint address="http://NorSolutionPimBusiness.azurewebsites.net/Default/DiagnosticsService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IDiagnosticsService" name="BasicHttpBinding_IDiagnosticsService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" allowCookies="false" maxBufferPoolSize="524288" maxBufferSize="116553600" maxReceivedMessageSize="116553600">
          <readerQuotas maxDepth="32" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
