<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 11/1/2020 7:09:43 AM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.DefaultPerformanceIssueFetchWithFilterContract>

@{
    ViewBag.Title = "Default Performance Issue Fetch With Filter";
}

<h2>Default Performance Issue Fetch With Filter</h2>

<table class="table">
    <tr>
        <th>Date Time</th>
        <th>Command Name</th>
        <th>Milliseconds</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.CommandName) </td>
            <td>@Html.DisplayFor(modelItem => item.Milliseconds) </td>
        </tr>
    }

</table>
