<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 7/22/2020 9:32:56 AM
  From Machine: DESKTOP-00MSEIL
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.DefaultResourceDatabaseStatisticsContract>

@{
    ViewBag.Title = "Default Resource Database Statistics";
}

<h2>Default Resource Database Statistics</h2>

<table class="table">
    <tr>
        <th>Reserved Page Count</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ReservedPageCount) </td>
        </tr>
    }

</table>
