<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/29/2020 4:27:46 PM
  From Machine: DESKTOP-9A2DH39
  Template: sql2x.MVCDurianGenerator.MethodViewIndexCode
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductReferenceAttributeUnitSearchWithFilterContract>

@{
    ViewBag.Title = "Product Reference Attribute Unit Search With Filter";
}

<h2>Product Reference Attribute Unit Search With Filter</h2>

<table class="table">
    <tr>
        <th>Product Attribute Unit Name</th>
        <th>Default User Name</th>
        <th>Date Time</th>
        <th>Product Attribute Unit</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitName) </td>
            <td>@Html.DisplayFor(modelItem => item.DefaultUserName) </td>
            <td>@Html.DisplayFor(modelItem => item.DateTime) </td>
            <td>@Html.DisplayFor(modelItem => item.ProductAttributeUnitRcd) </td>
        </tr>
    }

</table>
