<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 10/27/2020 8:31:12 PM
  From Machine: DESKTOP-742U247
  Template: sql2x.TemplateWithDurianByTypescriptGenerator.ViewIndex
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.ProductSearchByCategoryContract>

<div style="display:none;"></div><meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0"/>

<canvas id="myCanvas">
    Your browser does not support the HTML5 canvas tag.
</canvas>

<br />
  <div id="content"></div>
<br />

@section Scripts {
    <script type="text/javascript">
        var products = @Html.Raw(Json.Encode(Model));
    </script>
    <script src="~/Scripts/Templates\Product\\ProductSearch.js"></script>
}
