<?xml version="1.0"?>
<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/16/2020 8:30:48 PM
  Template: sql2x.Prototype.Content_connectionDOTconfig
-->
<appSettings>
  <add key="Conn" value="Data Source=(localdb)\\MSSQLLocalDB;"/>
  <add key="ConnLocal" value="Data Source=(localdb)\\MSSQLLocalDB;"/>
  <add key="ConnRemote" value="Data Source=(localdb)\\MSSQLLocalDB;"/>
</appSettings>

