<!--
  SQL2X Generated ASP .NET Core View code based on a SQL Server Schema
  SQL2X Version: 0.c
  http://sql2x.azurewebsites.net/
  Generated Date: 10/11/2017 11:25:18 AM 
  Template ClassName: GenerateDurian
-->
@model IEnumerable<SolutionNorSolutionPim.BusinessLogicLayer.Models.GetCartProductModel>
<input type="button" value="Home" onclick="location.href='http://NorSolutionPim.azurewebsites.net/'" />
<input type="button" value="Cart" disabled="disabled" onclick="location.href='@Url.Action("GetCartProductTypeScript", "GetCartProduct")'" />
<input type="button" value="Order" onclick="location.href='@Url.Action("OrderMake", "Financial")'" />
<input type="button" value="Orders" onclick="location.href='@Url.Action("GetFinancialOrderTypeScript", "GetFinancialOrder")'" />
<input type="button" value="About" onclick="location.href='http://NorSolutionPim.azurewebsites.net/Home/About'" />
<hr />
<div style="display:none;"></div> 
<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0"/>

<canvas id="myCanvas">
    Your browser does not support the HTML5 canvas tag.
</canvas>

<br />
  <div id="content"></div>
<br />

@section Scripts {
    <script type="text/javascript">
        var getCartProductList = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/js\Durian\Cart\\CartCartProduct.js"></script>
}
