<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDiagnosticsService" />
                <binding name="BasicHttpBinding_IGatherService" />
                <binding name="BasicHttpBinding_IProductCategoryService" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IActivityService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://norpim2ws.azurewebsites.net/Diagnostics/DiagnosticsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDiagnosticsService"
                contract="norpim.BusinessLogicLayer.Other.IDiagnosticsService"
                name="BasicHttpBinding_IDiagnosticsService" />
            <endpoint address="http://norpim2ws.azurewebsites.net/Gather/GatherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatherService"
                contract="norpim.BusinessLogicLayer.Other.IGatherService"
                name="BasicHttpBinding_IGatherService" />
            <endpoint address="http://norpim2ws.azurewebsites.net/Product/ProductCategoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductCategoryService"
                contract="norpim.BusinessLogicLayer.Other.IProductCategoryService"
                name="BasicHttpBinding_IProductCategoryService" />
            <endpoint address="http://norpim2ws.azurewebsites.net/Product/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="norpim.BusinessLogicLayer.Other.IProductService"
                name="BasicHttpBinding_IProductService" />
            <endpoint address="http://norpim2ws.azurewebsites.net/User/ActivityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivityService"
                contract="norpim.BusinessLogicLayer.Other.IActivityService"
                name="BasicHttpBinding_IActivityService" />
        </client>
    </system.serviceModel>
</configuration>