<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 0.d
  http://sql2core.azurewebsites.net/
  Generated Date: 14.01.2018 07:29:00
  Template: SQL2XExtension.SQL2XExtensionBuilderMain.TemplatesIndexMake
-->
@{
    ViewData["Title"] = "NorPim";
    Layout = "";
}

<style>
    a {
        color: lightgray;
    }

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>

<h2>Templates</h2>

<hr />
<div style="display:none;"></div>
<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />

<table class="table">
    <tr>
        <th width="4000">Function</th>
        <th width="2000">Url</th>
    </tr>
    <tr>
        <td>Database Management Create Database</td>
        <td><a href="~/Database/CreateDatabase">Database/CreateDatabase</a></td>
    </tr>
    <tr>
        <td>Database Management Remove Database</td>
        <td><a href="~/Database/RemoveDatabase">Database/RemoveDatabase</a></td>
    </tr>
    <tr>
        <td>Database Management Set Version Zero</td>
        <td><a href="~/Database/SetVersionZero">Database/SetVersionZero</a></td>
    </tr>
    <tr>
        <td>Database Management To Latest in one go</td>
        <td><a href="~/Database/VersionToLatest">Database/VersionToLatest</a></td>
    </tr>
    <tr>
        <td>Database Management Increase Version</td>
        <td><a href="~/Database/IncreaseVersion">Database/IncreaseVersion</a></td>
    </tr>
    <tr>
        <td>Database Management Increase Version To Latest step by step</td>
        <td><a href="~/Database/IncreaseVersionToLatest">Database/IncreaseVersionToLatest</a></td>
    </tr>
    <tr>
        <td>Database Management Version Object</td>
        <td><a href="~/Database/GetVersionObject">Database/GetVersionObject</a></td>
    </tr>
</table>
<br />
