<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 0.d
  http://sql2core.azurewebsites.net/
  Generated Date: 14.01.2018 07:29:00
  Template: SQL2XExtension.SQL2XExtensionBuilderMain.TemplatesIndexMake
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: "Product Sans", Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>

@{
    ViewData["Title"] = "NorPim Database Manager ( Version To Latest )";
    Layout = "";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div style="display:none;"></div>
<meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />

<pre>@ViewData["Message"]</pre>

