<div class="row">
    <br />
    <br />
    <img src="~/images/Microsoft-Security-Bulletin-MS14-066-2.jpg" height="10%" width="10%"/>
    <br />
    <br />
    for now this function is only available using a traditional windows application interface 
    <br />
    <br />
    install <a href="http://norpim.azurewebsites.net/install/publish.htm">here</a>...
</div>