@{
    ViewBag.Title = "Nor-Pim API";
}
<br />
<i>Nor-Pim</i> is a Product Information Management System written for enterprise cloud environments with user interfaces tailored for PC, Web and Mobile.<br />
<br />

<h1>CRUD ( Create Read Update Delete ) Services:</h1>

<br />

<a href="~/Documentation/Crude/_Index.html">SOAP Documentation</a><br />
<!--a href="https://localhost:44341/">REST Documentation</!--a><br />-->
<br />

<h1>REST services:</h1>
<br />
<table class="table">
    <tr style="background-color: aliceblue; font-weight: bold;">
        <th width="2000">Method</th>
        <th width="2000">Url</th>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>Cart Product</td>
        <td><a href="http://localhost:5000/api/1/cartproductsearchservice/getcartproduct">api/1/cartproductsearchservice/getcartproduct</a></td>
    </tr>
    <tr style="background-color: aliceblue; font-weight: normal;">
        <td>Financial Order</td>
        <td><a href="http://localhost:5000/api/1/financialordersearchservice/getfinancialorder">api/1/financialordersearchservice/getfinancialorder</a></td>
    </tr>
</table>
<br />

<h1>SOAP services:</h1>
<br />
<h2>Cart</h2>
<a href="http://localhost:64804/Cart/CartProductService.svc">Cart Product</a><br />
<a href="http://localhost:64804/Cart/CartSearchService.svc">Cart Search</a><br />

<br />
<h2>Category</h2>
<a href="http://localhost:64804/Category/CategorySearchService.svc">Category Search</a><br />

<br />
<h2>Default</h2>
<a href="http://localhost:64804/Default/DefaultSearchService.svc">Default Search</a><br />
<a href="http://localhost:64804/Default/DefaultUserActivityService.svc">Default User Activity</a><br />
<a href="http://localhost:64804/Default/DiagnosticsService.svc">Diagnostics</a><br />

<br />
<h2>Product</h2>
<a href="http://localhost:64804/Product/ProductCategoryService.svc">Product Category</a><br />
<a href="http://localhost:64804/Product/ProductSearchService.svc">Product Search</a><br />
<a href="http://localhost:64804/Product/ProductService.svc">Product</a><br />

<br />
<h2>Product Maintenance</h2>
<a href="http://localhost:64804/ProductMaintenance/ProductMaintenanceSearchService.svc">Product Maintenance Search</a><br />

<br />
<h2>ProductReference</h2>
<a href="http://localhost:64804/ProductReference/ProductReferenceAttributeSearchService.svc">Product Reference Attribute Search</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceAttributeService.svc">Product Reference Attribute</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceAttributeUnitSearchService.svc">Product Reference Attribute Unit Search</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceAttributeUnitService.svc">Product Reference Attribute Unit</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceCategoryDocumentationTypeService.svc">Product Reference Category Documentation Type</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceCategoryService.svc">Product Reference Category</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceCategoryService.svc">Product Reference Documentation Type</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceIdentifierService.svc">Product Reference Identifier</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceImageTypeService.svc">Product Reference ImageType</a><br />
<a href="http://localhost:64804/ProductReference/ProductReferenceInfoService.svc">Product Reference Info</a><br />

