@model IEnumerable<norpim.BusinessLogicLayer.CategoryTreeContract>

@{
    ViewBag.Title = "Organize";
}

<table class="table">
    <tr>
        <th>
            Category Code
        </th>
        <th>
            Category Name
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model) {
        if (item.ProductCategoryId == item.ProductCategoryParentId) { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategoryName)
                </td>
                <td>
                    @Html.ActionLink(   "Sub Categories", 
                                        "IndexChild", 
                                        new { productCategoryParentId = item.ProductCategoryId }
                                        ) |
                    @Html.ActionLink(   "Images",
                                        "ProductCategoryImageDetails",
                                        new { productCategoryId = item.ProductCategoryId }
                                        )
                </td>
            </tr>
        }
    }

</table>
