<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-web overview 3-20141113064925.mdf&quot;;Initial Catalog=&quot;aspnet-web overview 3-20141113064925&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="116553600" maxReceivedMessageSize="116553600" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!-- http://l ocalhost:1200 -->
    <!-- http://norpimws.a zurewebsites.net -->
    <client>
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeStateRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeStateRefService" name="BasicHttpBinding_ICrudeStateRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeSystemSettingRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeSystemSettingRefService" name="BasicHttpBinding_ICrudeSystemSettingRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeSystemSetting.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeSystemSettingService" name="BasicHttpBinding_ICrudeSystemSettingService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeSystemReferenceTable.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeSystemReferenceTableService" name="BasicHttpBinding_ICrudeSystemReferenceTableService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeUserActivityTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeUserActivityTypeRefService" name="BasicHttpBinding_ICrudeUserActivityTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeUserActivity.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeUserActivityService" name="BasicHttpBinding_ICrudeUserActivityService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeUser.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeUserService" name="BasicHttpBinding_ICrudeUserService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductAttribute.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeService" name="BasicHttpBinding_ICrudeProductAttributeService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductAttributeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeRefService" name="BasicHttpBinding_ICrudeProductAttributeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductCategory.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryService" name="BasicHttpBinding_ICrudeProductCategoryService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductCategoryDocumentation.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryDocumentationService" name="BasicHttpBinding_ICrudeProductCategoryDocumentationService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductCategoryImage.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryImageService" name="BasicHttpBinding_ICrudeProductCategoryImageService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProduct.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductService" name="BasicHttpBinding_ICrudeProductService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductExpose.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeService" name="BasicHttpBinding_ICrudeProductExposeService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductExposePlan.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposePlanService" name="BasicHttpBinding_ICrudeProductExposePlanService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductExposeSet.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeSetService" name="BasicHttpBinding_ICrudeProductExposeSetService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductExposedSelection.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposedSelectionService" name="BasicHttpBinding_ICrudeProductExposedSelectionService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductImage.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductImageService" name="BasicHttpBinding_ICrudeProductImageService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductImageTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductImageTypeRefService" name="BasicHttpBinding_ICrudeProductImageTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductSupplier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductSupplierService" name="BasicHttpBinding_ICrudeProductSupplierService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductIdentifier.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductIdentifierService" name="BasicHttpBinding_ICrudeProductIdentifierService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductIdentifierRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductIdentifierRefService" name="BasicHttpBinding_ICrudeProductIdentifierRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductDocumentation.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductDocumentationService" name="BasicHttpBinding_ICrudeProductDocumentationService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductDocumentationTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductDocumentationTypeRefService" name="BasicHttpBinding_ICrudeProductDocumentationTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductInfo.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductInfoService" name="BasicHttpBinding_ICrudeProductInfoService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductGatherSource.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherSourceService" name="BasicHttpBinding_ICrudeProductGatherSourceService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductGatherAttribute.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherAttributeService" name="BasicHttpBinding_ICrudeProductGatherAttributeService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductGatherKey.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherKeyService" name="BasicHttpBinding_ICrudeProductGatherKeyService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductGather.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherService" name="BasicHttpBinding_ICrudeProductGatherService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductChangeSet.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductChangeSetService" name="BasicHttpBinding_ICrudeProductChangeSetService" />
      <endpoint address="http://norpimws.azurewebsites.net/Statistics/StatisticsSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IStatisticsSearchService" name="BasicHttpBinding" />
      <endpoint address="http://norpimws.azurewebsites.net/Gather/GatherSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IGatherSearchService" name="BasicHttpBinding_IGatherSearchService" />
      <endpoint address="http://norpimws.azurewebsites.net/Expose/ExposeSearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IExposeSearchService" name="BasicHttpBinding_IExposeSearchService" />
      <endpoint address="http://norpimws.azurewebsites.net/Category/CategorySearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICategorySearchService" name="BasicHttpBinding_ICategorySearchService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductAttributeUnitRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductAttributeUnitRefService" name="BasicHttpBinding_ICrudeProductAttributeUnitRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductCategoryDocumentationTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryDocumentationTypeRefService" name="BasicHttpBinding_ICrudeProductCategoryDocumentationTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductCategoryImageTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryImageTypeRefService" name="BasicHttpBinding_ICrudeProductCategoryImageTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductCategoryMapping.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductCategoryMappingService" name="BasicHttpBinding_ICrudeProductCategoryMappingService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductExposeSetTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductExposeSetTypeRefService" name="BasicHttpBinding_ICrudeProductExposeSetTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductFieldSet.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductFieldSetService" name="BasicHttpBinding_ICrudeProductFieldSetService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductFieldSetMapping.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductFieldSetMappingService" name="BasicHttpBinding_ICrudeProductFieldSetMappingService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductGatherAttributeTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherAttributeTypeRefService" name="BasicHttpBinding_ICrudeProductGatherAttributeTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductGatherSourceTypeRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductGatherSourceTypeRefService" name="BasicHttpBinding_ICrudeProductGatherSourceTypeRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/Crude/CrudeProductInfoRef.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ICrudeProductInfoRefService" name="BasicHttpBinding_ICrudeProductInfoRefService" />
      <endpoint address="http://norpimws.azurewebsites.net/User/UserActivitySearchService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="IUserActivitySearchService" name="BasicHttpBinding_IUserActivitySearchService" />
    </client>
  </system.serviceModel>
</configuration>