<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/14/2020 8:22:59 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialTax.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialTax">CrudeFinancialTax</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Tax Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Tax Type            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Financial Currency Id            </td><td>System.Guid</td></tr>
            <tr><td>Amount            </td><td>System.Decimal</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchByFinancialTaxId' asp-route-financialtaxid=00000000-0000-0000-0000-000000000001>FetchByFinancialTaxId</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchByFinancialTaxTypeRcd' asp-route-financialtaxtypercd=00000000-0000-0000-0000-000000000001>FetchByFinancialTaxTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchByFinancialCurrencyId' asp-route-financialcurrencyid=00000000-0000-0000-0000-000000000001>FetchByFinancialCurrencyId</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxFetchByFinancialTaxId' asp-route-financialtaxid=Guid.Empty>FetchByFinancialTaxId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxCreate'>CrudeFinancialTaxCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxUpdate'>CrudeFinancialTaxUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxDelete'>CrudeFinancialTaxDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialTax' asp-action='CrudeFinancialTaxDeleteTest'>Delete Test (GET)</a><br>
