<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 8:22:59 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialOrderSourceRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialOrderSourceRef">CrudeFinancialOrderSourceRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Order Source            </td><td>System.String</td></tr>
            <tr><td>Financial Order Source Name            </td><td>System.String</td></tr>
            <tr><td>Financial Order Source Code            </td><td>System.String</td></tr>
            <tr><td>Sort Sequence Number            </td><td>System.Int32</td></tr>
            <tr><td>Change Flag            </td><td>System.Boolean</td></tr>
            <tr><td>Status Code            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefFetchByFinancialOrderSourceRcd' asp-route-financialordersourcercd=00000000-0000-0000-0000-000000000001>FetchByFinancialOrderSourceRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefFetchByFinancialOrderSourceRcd' asp-route-financialordersourcercd=String.Empty>FetchByFinancialOrderSourceRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefCreate'>CrudeFinancialOrderSourceRefCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefUpdate'>CrudeFinancialOrderSourceRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefDelete'>CrudeFinancialOrderSourceRefDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderSourceRef' asp-action='CrudeFinancialOrderSourceRefDeleteTest'>Delete Test (GET)</a><br>
