<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 3/13/2020 10:45:48 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialOrder.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialOrder">CrudeFinancialOrder</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Order Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Comment            </td><td>System.String</td></tr>
            <tr><td>Location Address Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Currency Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Order Source            </td><td>System.String</td></tr>
            <tr><td>Client Id            </td><td>System.Guid</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchByFinancialOrderId' asp-route-financialorderid=00000000-0000-0000-0000-000000000001>FetchByFinancialOrderId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchByFinancialCurrencyId' asp-route-financialcurrencyid=00000000-0000-0000-0000-000000000001>FetchByFinancialCurrencyId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchByFinancialOrderSourceRcd' asp-route-financialordersourcercd=00000000-0000-0000-0000-000000000001>FetchByFinancialOrderSourceRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchByClientId' asp-route-clientid=00000000-0000-0000-0000-000000000001>FetchByClientId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderFetchByFinancialOrderId' asp-route-financialorderid=Guid.Empty>FetchByFinancialOrderId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderCreate'>CrudeFinancialOrderCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderUpdate'>CrudeFinancialOrderUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderDelete'>CrudeFinancialOrderDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrder' asp-action='CrudeFinancialOrderDeleteTest'>Delete Test (GET)</a><br>
