<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 9:45:42 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialCardTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialCardTypeRef">CrudeFinancialCardTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Card Type            </td><td>System.String</td></tr>
            <tr><td>Financial Card Type Name            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefFetchByFinancialCardTypeRcd' asp-route-financialcardtypercd=00000000-0000-0000-0000-000000000001>FetchByFinancialCardTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefFetchByFinancialCardTypeRcd' asp-route-financialcardtypercd=String.Empty>FetchByFinancialCardTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefCreate'>CrudeFinancialCardTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefUpdate'>CrudeFinancialCardTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefDelete'>CrudeFinancialCardTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialCardTypeRef' asp-action='CrudeFinancialCardTypeRefDeleteTest'>Delete Test (GET)</a><br>
