<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/25/2020 9:45:43 AM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialPaymentCash.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialPaymentCash">CrudeFinancialPaymentCash</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Payment Cash Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Amount            </td><td>System.Decimal</td></tr>
            <tr><td>Financial Currency Id            </td><td>System.Guid</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchByFinancialPaymentCashId' asp-route-financialpaymentcashid=00000000-0000-0000-0000-000000000001>FetchByFinancialPaymentCashId</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchByFinancialCurrencyId' asp-route-financialcurrencyid=00000000-0000-0000-0000-000000000001>FetchByFinancialCurrencyId</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashFetchByFinancialPaymentCashId' asp-route-financialpaymentcashid=Guid.Empty>FetchByFinancialPaymentCashId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashCreate'>CrudeFinancialPaymentCashCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashUpdate'>CrudeFinancialPaymentCashUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashDelete'>CrudeFinancialPaymentCashDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialPaymentCash' asp-action='CrudeFinancialPaymentCashDeleteTest'>Delete Test (GET)</a><br>
