<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 4/6/2020 4:41:22 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialOrderTransaction.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialOrderTransaction">CrudeFinancialOrderTransaction</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Booking Transaction Id            </td><td>System.Guid</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
            <tr><td>Amount            </td><td>System.Decimal</td></tr>
            <tr><td>Financial Fee Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Tax Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Payment Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Currency Id            </td><td>System.Guid</td></tr>
            <tr><td>Transaction Number            </td><td>System.Int32</td></tr>
            <tr><td>Financial Costcentre Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Adjustment Id            </td><td>System.Guid</td></tr>
            <tr><td>Financial Order Transaction Type            </td><td>System.String</td></tr>
            <tr><td>Financial Order Id            </td><td>System.Guid</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialBookingTransactionId' asp-route-financialbookingtransactionid=00000000-0000-0000-0000-000000000001>FetchByFinancialBookingTransactionId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialFeeId' asp-route-financialfeeid=00000000-0000-0000-0000-000000000001>FetchByFinancialFeeId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialTaxId' asp-route-financialtaxid=00000000-0000-0000-0000-000000000001>FetchByFinancialTaxId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialPaymentId' asp-route-financialpaymentid=00000000-0000-0000-0000-000000000001>FetchByFinancialPaymentId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialCurrencyId' asp-route-financialcurrencyid=00000000-0000-0000-0000-000000000001>FetchByFinancialCurrencyId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialCostcentreId' asp-route-financialcostcentreid=00000000-0000-0000-0000-000000000001>FetchByFinancialCostcentreId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialAdjustmentId' asp-route-financialadjustmentid=00000000-0000-0000-0000-000000000001>FetchByFinancialAdjustmentId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialOrderTransactionTypeRcd' asp-route-financialordertransactiontypercd=00000000-0000-0000-0000-000000000001>FetchByFinancialOrderTransactionTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialOrderId' asp-route-financialorderid=00000000-0000-0000-0000-000000000001>FetchByFinancialOrderId</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionFetchByFinancialBookingTransactionId' asp-route-financialbookingtransactionid=Guid.Empty>FetchByFinancialBookingTransactionId</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionCreate'>CrudeFinancialOrderTransactionCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionUpdate'>CrudeFinancialOrderTransactionUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionDelete'>CrudeFinancialOrderTransactionDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderTransaction' asp-action='CrudeFinancialOrderTransactionDeleteTest'>Delete Test (GET)</a><br>
