<!--
  SQL2X Generated code based on a SQL Server Schema
  SQL2X Version: 1.0
  http://sql2x.org/
  Generated Date: 1/13/2020 5:44:40 PM
  Filename: C:\SQL2XProjects\SolutionNorSolutionPim\PrototypeASPNetCoreTemplateWebApplicationWithCrude\Template\Financial\FinancialOrderIdentifierTypeRef.json
  Template: sql2x.TemplateDotNetCoreApiGenerator.View
  Style: DotNetCoreApi
-->

<style>
    a {
        color: lightgray;
    } 

    html {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    table {
        background-color: rgb(20, 18, 18);
        color: white;
        border-color: red;
        font-weight: 100;
        margin: 0px;
        max-width: 100%;
        align-content: flex-start
    }

    th {
        background-color: rgb(20, 18, 18);
        color: white;
        text-align: left;
    }

    tr {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    td {
        background-color: rgb(20, 18, 18);
        color: white;
    }

    h2 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 30px;
        color: white;
    }

    h3 {
        font-family: 'Product Sans', Arial, sans-serif;
        font-size: 20px;
        color: white;
    }
</style>
<h2><a id="CrudeFinancialOrderIdentifierTypeRef">CrudeFinancialOrderIdentifierTypeRef</a> ( DotNetCoreApi )</h2><br>
<br>
        <table>
            <tr><td>Financial Order Identifier Type            </td><td>System.String</td></tr>
            <tr><td>Financial Order Identifier Type Code            </td><td>System.String</td></tr>
            <tr><td>Financial Order Identifier Type Name            </td><td>System.String</td></tr>
            <tr><td>Sort Sequence Number            </td><td>System.Int32</td></tr>
            <tr><td>Change Flag            </td><td>System.Boolean</td></tr>
            <tr><td>Status Code            </td><td>System.String</td></tr>
            <tr><td>User Id            </td><td>System.Guid</td></tr>
            <tr><td>Date Time            </td><td>System.DateTime</td></tr>
        </table>
<br>
<br>
<i>GET</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefFetchAll'>FetchAll</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefFetchAllCount'>FetchAllCount</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefFetchAllWithLimit' asp-route-limit='1'>FetchAllWithLimit</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefFetchAllWithLimitAndOffset' asp-route-limit='1' asp-route-offset='1'>FetchAllWithLimitAndOffset</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefFetchByFinancialOrderIdentifierTypeRcd' asp-route-financialorderidentifiertypercd=00000000-0000-0000-0000-000000000001>FetchByFinancialOrderIdentifierTypeRcd</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefFetchByFinancialOrderIdentifierTypeRcd' asp-route-financialorderidentifiertypercd=String.Empty>FetchByFinancialOrderIdentifierTypeRcd</a><br>
<br>
<br>
<i>POST</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefCreate'>CrudeFinancialOrderIdentifierTypeRefCreate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefCreateTest'>Create Test (GET)</a><br>
<br>
<br>
<i>PUT</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefUpdate'>CrudeFinancialOrderIdentifierTypeRefUpdate</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefUpdateTest'>Update Test (GET)</a><br>
<br>
<br>
<i>DELETE</i><br>
<br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefDelete'>CrudeFinancialOrderIdentifierTypeRefDelete</a><br>
<a asp-area='' asp-controller='CrudeFinancialOrderIdentifierTypeRef' asp-action='CrudeFinancialOrderIdentifierTypeRefDeleteTest'>Delete Test (GET)</a><br>
